<div class="container"><div class="row" style="margin-top: 20px;"><div class="col-md-10 col-md-offset-1">
	<div class="row">
		<div class="col-md-6">
			<!-- Step 1 (welcome message) -->
			<div class="block block-imp">
				<span class="block-icon fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-hand-spock-o fa-stack-1x fa-inverse"></i>
				</span>
				<h2>Welcome</h2>
				<p>
					This prototype is an experimental performance analysis tool focused on parallel programming.
					<span class="text-info">Because the future is <s>multicore</s> many-core!</span>
					Our approach is to design the tool focused on performance problems instead hardware-centric.
					But, don't worry, you should see some low level data.
				</p>
			</div>
			<!-- Goto experiments -->
			<div class="block" style="margin-top: 40px;">
				<span class="block-icon fa-stack">
					<i class="fa fa-circle fa-stack-2x text-success"></i>
					<i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
				<h2>Roman's viva</h2>
				<p>
					Dining philosophers: <a type="button" ui-sref='dashboard({ids: "1012"})' class="btn btn-success">12 covers</a>
				</p>
			</div>
			<!-- Goto experiments -->
			<div class="block" style="margin-top: 40px;">
				<span class="block-icon fa-stack">
					<i class="fa fa-circle fa-stack-2x text-info"></i>
					<i class="fa fa-flask fa-stack-1x fa-inverse"></i>
				</span>
				<h2>Experiments</h2>
				<p>If you're here for an experimentation, first, thanks a million.</p>
				<p>Then, choose the experiment you want to try:</p>
				<a ng-repeat="xp in experiments" type="button" href='{{::xp.url}}' class="btn btn-info btn-block">{{::xp.label}}</a>
			</div>
		</div>
		<div class="col-md-6">
			<!-- Goto Dashboard -->
			<div class="block">
				<span class="block-icon fa-stack">
					<i class="fa fa-circle fa-stack-2x text-info"></i>
					<i class="fa fa-hand-o-right fa-stack-1x fa-inverse"></i>
				</span>
				<h2>Free browsing</h2>
				<p>If you want to try or discover our prototype, this is the best way, no constraint.</p>
				<p>Please be gentle with this prototype.</p>
				<button type="button" ui-sref="dashboard" class="btn btn-info btn-block"><i class="fa fa-tachometer"></i> Dashboard</button>
				<div ng-repeat="quicklink in quicklinks" class="quicklink">
					<p ng-class="{'text-primary': quicklink.showEmphasis}"><span ng-if="quicklink.icon" ><i class="fa {{::quicklink.icon}}"></i> </span>{{::quicklink.title}}</p>
					<div class="btn-group btn-group-justified" ng-repeat="row in quicklink.list">
						<a ng-repeat="xp in row" type="button" ui-sref='dashboard({ids: xp.ids})' class="btn btn-default">{{::xp.label}}</a>
					</div><!--  ng-class="{'btn-info': quicklink.showEmphasis}" -->
					<span ng-if="quicklink.showHardDiff"><b>ᵜ</b> <span class="text-muted">the gathered profiles come from different hardwares.</span></span>
				</div>
				<!--
				<p>&nbsp;</p>
				<p>Producers / Consumers:</p>
				<table class="table-compare-list">
					<tbody>
						<tr>
							<td>
								<table class="table table-condensed table-compare">
									<thead>
										<tr>
											<th>p \ c</th>
											<th>1</th>
											<th>10</th>
											<th>100</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td><button type="button" class="btn btn-default">A</button></td>
											<td><button type="button" class="btn btn-default">A</button></td>
											<td><button type="button" class="btn btn-default">A</button></td>
										</tr>
										<tr>
											<th scope="row">10</th>
											<td><button type="button" class="btn btn-default">A</button></td>
											<td><button type="button" class="btn btn-default">A</button></td>
											<td><button type="button" class="btn btn-default">A</button></td>
										</tr>
										<tr>
											<th scope="row">100</th>
											<td><button type="button" class="btn btn-default">A</button></td>
											<td><button type="button" class="btn btn-default">A</button></td>
											<td><button type="button" class="btn btn-default">A</button></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td><button type="button" class="btn btn-default">vs.</button></td>
							<td>
								<table class="table table-condensed table-compare">
									<thead>
										<tr>
											<th>1</th>
											<th>10</th>
											<th>100</th>
											<th>c / p</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><button type="button" class="btn btn-default">B</button></td>
											<td><button type="button" class="btn btn-default">B</button></td>
											<td><button type="button" class="btn btn-default">B</button></td>
											<th scope="row">1</th>
										</tr>
										<tr>
											<td><button type="button" class="btn btn-default">B</button></td>
											<td><button type="button" class="btn btn-default">B</button></td>
											<td><button type="button" class="btn btn-default">B</button></td>
											<th scope="row">10</th>
										</tr>
										<tr>
											<td><button type="button" class="btn btn-default">B</button></td>
											<td><button type="button" class="btn btn-default">B</button></td>
											<td><button type="button" class="btn btn-default">B</button></td>
											<th scope="row">100</th>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				-->
			</div>
		</div>
	</div>
</div></div></div>