<section class="panel panel-shadow">
<header class="panel-heading"><h1>Source-Code Experiment</h1></header>
<div id="panel-content" class="panel-body" >
	<div class="row">
		<div class="col-md-12">
			<p class="alert alert-info">
				&#x2714; {{srcData[srcData.data[current][2]]}}
				<br /><br />
				&#x2714; Target System: <u>Intel© Core™ i7-950, 4 Cores HT, 3.06 GHz. L1 Cache: 32 KB. L2 Cache: 256 KB. L3 Cache: 8 MB. Cache Line: 64 bytes.</u>
			</p>
		</div>

		<div class="col-md-6">
			<h4><b>Program A</b></h4>
			<pre>{{srcData[srcData.data[current][0]]}}</pre>
		</div>
		<div class="col-md-6">
			<h4><b>Program B</b></h4>
			<pre>{{srcData[srcData.data[current][1]]}}</pre>
		</div>
	</div>

	<div ng-repeat="q in srcSurvey" ng-animate="'animate'">
		<mcq id="q.id" text="q.text" 
			ng-show="(q.choices.length > 0 && phase == 0) || (q.choices.length == 0 && phase == 1)" 
			options="q.choices" value="srcAnsw[q.id]" >
		</mcq>
	</div>

	<div class="panel-footer">
	<nav>
	  <ul class="pager">
		<li class="next"><a ng-click="actionNext()">Next <i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></a></li>
	  </ul>
	</nav>
	</div>
</div>
</section>