/*
 * Base structure
 */
body {
	padding-top: 70px; /* Move down content because we have a fixed navbar that is 50px tall */
}
.nav, .pagination, .carousel, .panel-title a, .link {
	cursor: pointer; /* Angular Bootstrap UI side effect with Bootstrap  */
}
.btn-toolbar-vertical {
	margin-top: -5px;
}
.btn-toolbar-vertical > .btn,
.btn-toolbar-vertical > .btn-group-vertical,
.btn-toolbar-vertical > .input-group {
	margin-top: 5px;
}
th {
	text-align: center;
}
svg {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}


/*
 * Wrapper
 */
#wrapper {
	transition: all 0.2s ease;
	padding-left: 220px;
	margin-top: -25px;
}

#wrapper.min {
	padding-left: 60px;
}


/*
 * Navbar
 */
.navbar {
}


/*
 * Sidebar
 */
#sidebar {
	z-index: 1000;
	position: fixed;
	left: 220px;
	width: 220px;
	height: 100%;
	margin-left: -220px;
}
#wrapper.min #sidebar {
	width: 60px;
}

/*
 * Content
 */
 /*
#content {
	width: 100%;
	position: absolute;
	padding: 30px;
}*/

#content {
	width: 100%;
	padding: 40px 20px 0px 40px;
}

#wrapper.min #content {
	margin-right: 0px;
}