/*
 * Base structure
 */
body {
	padding-top: 70px; /* Move down content because we have a fixed navbar that is 50px tall */
}
.nav, .pagination, .carousel, .panel-title a, .link {
	cursor: pointer; /* Angular Bootstrap UI side effect with Bootstrap  */
}
.btn-toolbar-vertical {
  margin-top: -5px;
}
.btn-toolbar-vertical > .btn,
.btn-toolbar-vertical > .btn-group-vertical,
.btn-toolbar-vertical > .input-group {
  margin-top: 5px;
}

/*
 * Navbar
 */
.navbar {

}


/*
 * Wrapper
 */
#wrapper {
	padding-left: 0;
	transition: all 0.5s ease;
	padding-left: 60px;
	margin-top: -25px;
	clear: both;
}

#wrapper.expanded {
	padding-left: 217px;
}


/*
 * Sidebar
 */
#sidebar {
	z-index: 1000;
	position: fixed;
	left: 217px;
	width: 60px;
	height: 100%;
	margin-left: -217px;
	overflow-y: auto;
	background: #000;
	transition: all 0.5s ease;
}
#wrapper.expanded #sidebar {
	width: 217px;
}

/*
 * Content
 */
#content {
	width: 100%;
	position: absolute;
	padding: 30px;
}
 
#content {
	width: 100%;
	position: absolute;
	padding: 15px;
	margin-right: -60px;
}
#wrapper.expanded #content {
	position: absolute;
	margin-right: -217px;
}