/*
 * Base structure
 */
body {
	padding-top: 70px; /* Move down content because we have a fixed navbar that is 50px tall */
}
.nav, .pagination, .carousel, .panel-title a, .link {
	cursor: pointer; /* Angular Bootstrap UI side effect with Bootstrap  */
}
.btn-toolbar-vertical {
	margin-top: -5px;
}
.btn-toolbar-vertical > .btn,
.btn-toolbar-vertical > .btn-group-vertical,
.btn-toolbar-vertical > .input-group {
	margin-top: 5px;
}
a {
	outline: 0 !important;
}
th {
	text-align: center;
}
svg {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}
svg .svg-fa {
   font-family: FontAwesome;
}
span.link:hover {
	cursor: pointer;
	border-bottom: 1px dashed #00526E;
}


/*
 * Bootstrap extended columns
 *
 * µ: size to be set
 * auto: ? columns (size from the content)
 * 015: 1.5 columns
 * 105: 10,5 columns
 * 7-1: 1 column for a grid of 7 columns
 */
.col-µ, .col-auto, .col-015, .col-105, .col-7-1 {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-auto	{ width: auto;	}
.col-015	{ width: 12.5%;	}
.col-105	{ width: 87.5%;	}
.col-7-1	{ width: 87.5%;	}


/*
 * Bootstrap extended buttons
 */
.btn-group-col {
	-webkit-column-gap: 8px; /* Chrome, Safari, Opera */
	-moz-column-gap: 8px; /* Firefox */
	column-gap: 8px;
}
.btn-group-col-3 {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}
.btn-group-col .btn {
	width: 100%;
	margin-bottom: 6px;
}



/*
 * Wrapper
 */
#wrapper {
	transition: all 0.2s ease;
	margin-top: -25px;
}

#wrapper.min {
}


/*
 * Navbar
 */
.navbar {
}


/*
 * Sidebar
 */
#sidebar {
	z-index: 1000;
	position: fixed;
	left: 220px;
	width: 220px;
	height: 100%;
	margin-left: -220px;
}
#wrapper.min #sidebar {
	width: 60px;
}

/*
 * Content
 */
 /*
#content {
	width: 100%;
	position: absolute;
	padding: 30px;
}*/

#content {
	width: 100%;
	padding: 40px 20px 0px 40px;
}

#wrapper.min #content {
	margin-right: 0px;
}



/*
 * Common mecanism
 */
.hover-text .text {
	display: none;
}
.hover-text:hover .text {
	display: inline-block;
}


/*
 *	Widgets
 */
.widget-graph {
	display: block;
	
	background-attachment: fixed;
	background-image: url("../assets/blank.jpg");
	
}