<tabset>
	<tab heading="Legend">
		<div class="info-profiles" ng-if="profiles.length > 1">
			<p class="left"><strong>top:</strong><br/><strong>bottom:</strong></p>
			<p class="right">{{profiles[0].label}}<br/>{{profiles[1].label}}</p>
		</div>
		<ul class="legend-list" style="font-size: 0.85em;">
			<li id="w{{widget.id}}l{{$index}}" ng-repeat="l in widget.deck.legend">
				<style>#w{{widget.id}}l{{$index}}:before { content: "▮ "; color: {{l.color}}; }</style>
				<strong>{{l.title}}</strong>: {{l.desc}}
			</li>
		</ul>
	</tab>
	<!-- <tab heading="Data" disabled="true"></tab> -->
</tabset>