section {
	margin: 40px auto;
	max-width: 1000px;
}

.task {
	position: absolute;
	bottom: 0px;
	top: 60px;
	left: 0px;
	right: 0px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}
.task > * {
	width: 100%;
}

.task iframe {
	flex-grow: 2;
	margin-top: 10px;
	
	border-top: 1px solid #007196;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.flex-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.list-artifact {
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list-pill {
	padding: 8px 12px;
	background-color: #cecece;
	color: #333333;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
}

.list-command {
	position: relative;
	display: block;
	padding: 0px 15px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #999999;
}
.list-command a {
	color: #999999;
}
.list-command a:hover {
	color: #008cba;
}