/*
 * Content
 */
#content {
	width: 100%;
	padding-top: 40px;
	transition: all 0.2s ease;
}

div.tool {
	position: absolute;
	top: 45px;
	right: 0px;
	bottom: 4px;
	left: 0px;
	
	/* padding: 0px 15px 15px 15px; */
	padding: 0px;
	
	background-attachment: fixed;
	background-image: url("stripes-alt.jpg");
	/*background: repeating-linear-gradient(45deg, #ffffff,#ffffff 10px,#007196 10px,#007196 20px);*/
}


/*
 * Page layout
 */
.more-readable-block p,
.more-readable-block li {
	font-size: 1.2em;
}


/*
 * Sub tab
 */
.nav-subtab {
	margin-top: 10px;
	text-align: right;
}
.well-subtab {
	margin-left: -30px;
}


/*
 * Screenshots
 */
img.screenshot {
	margin-top: 6px;
	box-shadow: 0px 5px 5px rgb(136, 136, 136);
}


/*
 * Enhance Bootstrap
 */
.btn-group-flex {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}
.btn-group-flex > * {
	flex-grow: 1;
}