/*
 * Detail
 */
.detail {
	padding: 0px 20px 0px 20px !important;
	transition: .2s linear all;
}
.detail .profile h4 {
	padding-right: 10px;
	display: inline-block;
}

.detail .profile {
	margin-bottom: 60px;
}


.detail .profile .profile-graph {
	min-height: 60px;
}

.detail .profile .profile-graph svg {
	height: 100%;
	width: 100%;
}

/*
 * Icons
 */
.detail .nav-tab-title .fa {
	margin-right: 6px;
}


/*
 * Profile versus
 */
#link-compare-profile {
	cursor: pointer;
	margin-left: 6px;
	margin-right: 6px;
}
#link-compare-profile i {
	padding-left: 6px;
}
.versus-one {
	width: 300px;
}
.versus-two {
	width: 400px;
}
.table-versus {
	width: 100%;
	margin-bottom: 0px;
}
.table-versus thead tr td.left {
	text-align: right;
}
.table-versus thead tr td.right {
	text-align: left;
}
.table-versus tbody tr.info td {
	text-align: center !important;
	font-weight: bold;
}
.table-versus tbody td.left {
	text-align: right;
}
.table-versus tbody td.center {
	text-align: center;
	font-weight: bold;
}
.table-versus tbody td.right {
	text-align: left;
}
.table-versus tbody td:not(.center) span {
	font-size: 0.8em;
	font-weight: 400;
}
.table-versus tbody td.left span {
	float: left;
	font-weight: bold;
}
.table-versus tbody td.right span {
	float: right;
	font-weight: bold;
}
.table-versus tbody td font {
	color: #797979;
}



/*
 * Graphs
 */
.detail .widget-graph {
	width: 100%;
}
.detail .widget-band {
	height: 40px;
}
.detail .widget-histo {
	height: 80px;
}
.detail .widget-detail {
	height: 140px;
}
.detail .widget-path {
	min-height: 40px;
}

.detail td.container-graph {
	padding: 0px !important;
	height: 100% !important;
	vertical-align: bottom !important;
}
.detail .integrated-graph {
	margin: 0px !important;
	height: 100%;
	min-height: 33px;
	width: 100%;
	display: block;
}



/*
 * Widget line
 */
.detail .widget-line {
	margin-top: 30px;
}



/*
 * Ruler
 */
.detail #ruler {
	position: absolute;
	top: 0px;
	bottom: 0px;
	z-index: 10;
	/*
	min-width: 150px;
	background: transparent;
	background: linear-gradient(to right, #ffffff 0%, transparent 30%, transparent 100%);
	*/
	pointer-events: none;
}
.detail #ruler .line {
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 1px;
	background-color: #595959; /* #E7E7E7 */
}
.detail #ruler .label {
	position: fixed;
	margin-left: -40px;
	width: 80px;
	z-index: 9;
}
.detail #ruler .label:nth-of-type(1) {
	top: 46px;
}
.detail #ruler .label:nth-of-type(2) {
	bottom: 0px;
}

.detail #ruler .facet-rule {
	position: absolute;
	left: -4px;
	height: 16px;
	margin-top: -8px;
	font-size: 0.7em;
	font-weight: bold;
	text-shadow: 0 0 4px #FFF;
	white-space: nowrap !important;
	transition: all 0.2s ease;
}
.detail #ruler .facet-rule i {
	text-shadow: 0 0 4px #FFF;
}
.detail #ruler .facet-rule:not(i) {
	color: white;
	text-shadow:
		-1px -1px 0 rgba(0, 0, 0, .5),  
		1px -1px 0 rgba(0, 0, 0, .5),
		-1px  1px 0 rgba(0, 0, 0, .5),
		1px  1px 0 rgba(0, 0, 0, .5);
}
.detail #ruler .facet-pin {
	position: absolute;
	height: 16px;
	margin-top: -8px;
	margin-left: -4px;
	font-size: 0.7em;
	font-weight: bold;
	text-shadow: 0 0 4px #FFF;
	white-space: nowrap !important;
	transition: all 0.2s ease;
}
.detail #ruler .facet-pin:not(i) {
	color: white;
	text-shadow:
		-1px -1px 0 rgba(0, 0, 0, .5),  
		1px -1px 0 rgba(0, 0, 0, .5),
		-1px  1px 0 rgba(0, 0, 0, .5),
		1px  1px 0 rgba(0, 0, 0, .5);
}
.detail #ruler .facet-pin i {
	text-shadow: 0 0 4px #FFF;
}


/**
 * Description
 */
.detail .description {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);

	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;

	outline: 0px none;

	background-color: #333333;
	background-clip: padding-box;

	color: #fff;
	/*
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.4;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	*/
}
.detail .description .arrow {
	position: absolute;
	display: block;
	top: -19px;
	left: 32px;

	width: 0;
	height: 0;

	border: 20px solid transparent;
	border-top-width: 0;
	border-bottom-color: rgb(51, 51, 51);
}


/**
 * Issues
 */
.detail .issues ul {
	margin: 0;
	padding-left: 14px;
	list-style: none;
}
.detail .issues ul li:before {    
	font-family: 'FontAwesome';
	content: '\f101';
	color: #5bc0de;
	margin: 0 3px 0 -16px;
}