<div class="row detail{{facetCheck | iif : ' detail-faceted' : ''}}">
	<div class="col-xs-12 profile">
		<h2>{{meta.label}}</h2> for
		<span>{{profiles[0].label}}</span>
		<span class="dropdown profile-versus {{profiles.length == 1 | iif : 'one-profile' : 'two-profiles'}}">
			<a href class="dropdown-toggle"><spans class="label label-primary">{{profiles.length > 1 | iif : 'versus' : 'info'}} <i class="fa fa-caret-down"></i></a>
			<div class="dropdown-menu">
			<table class="table table-striped table-hover">
				<thead ng-if="profiles.length > 1">
					<tr>
						<th>{{profiles[0].label}}</th>
						<th></th>
						<th ng-if="profiles.length > 1">{{profiles[1].label}}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info"><td colspan="{{profiles.length > 1 | iif : '3' : '2'}}">Stats</td></tr>
					<tr>
						<td><span>ms</span>{{data[profiles[0].id].info.duration}}</td>
						<td>duration</td>
						<td ng-if="profiles.length > 1"><span>ms</span>{{data[profiles[1].id].info.duration}}</td>
					</tr>
					<tr>
						<td>{{data[profiles[0].id].info.threadCount}}</td>
						<td>threads</td>
						<td ng-if="profiles.length > 1">{{data[profiles[1].id].info.threadCount}}</td>
					</tr>
					<tr>
						<td><span>10⁶ ×</span>{{data[profiles[0].id].stats.c / 1000000000 | number: 0}}</td>
						<td>cycles</td>
						<td ng-if="profiles.length > 1"><span>× 10⁶</span>{{data[profiles[1].id].stats.c / 1000000000 | number: 0}}</td>
					</tr>
					<tr>
						<td><span>%</span>{{data[profiles[0].id].stats.r * 100 / (data[profiles[0].id].stats.r + data[profiles[0].id].stats.y + data[profiles[0].id].stats.s + data[profiles[0].id].stats.w) | number: 0}}</td>
						<td>running</td>
						<td ng-if="profiles.length > 1"><span>%</span>{{data[profiles[1].id].stats.r * 100 / (data[profiles[1].id].stats.r + data[profiles[1].id].stats.y + data[profiles[1].id].stats.s + data[profiles[1].id].stats.w) | number: 0}}</td>
					</tr>
					<tr class="info"><td colspan="{{profiles.length > 1 | iif : '3' : '2'}}">Hardware</td></tr>
					<tr>
						<td>{{profiles[1].hardware.cpu.cores}}</td>
						<td>cores</td>
						<td ng-if="profiles.length > 1">{{profiles[1].hardware.cpu.cores}}</td>
					</tr>
					<tr>
						<td>{{profiles[0].hardware.cpu.type}} / {{profiles[0].hardware.cpu.clock}}</td>
						<td>type</td>
						<td ng-if="profiles.length > 1">{{profiles[1].hardware.cpu.type}} / {{profiles[1].hardware.cpu.clock}}</td>
					</tr>
					<tr>
						<td>{{profiles[0].hardware.cpu.l1}}</td>
						<td>cache L1</td>
						<td ng-if="profiles.length > 1">{{profiles[1].hardware.cpu.l1}}</td>
					</tr>
					<tr>
						<td>{{profiles[0].hardware.cpu.l2}}</td>
						<td>cache L2</td>
						<td ng-if="profiles.length > 1">{{profiles[1].hardware.cpu.l2}}</td>
					</tr>
					<tr>
						<td>{{profiles[0].hardware.cpu.l3}}</td>
						<td>cache L3</td>
						<td ng-if="profiles.length > 1">{{profiles[1].hardware.cpu.l3}}</td>
					</tr>
					<tr>
						<td>{{profiles[0].hardware.ram}}</td>
						<td>RAM</td>
						<td ng-if="profiles.length > 1">{{profiles[1].hardware.ram}}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</span>
		<span ng-if="profiles.length > 1">{{profiles[0].label}}</span>

		<div class="row profile" ng-repeat="(iw, widget) in meta.widgets">
			<div class="col-xs-{{layout.colXS.graph}} col-sm-{{layout.colSM.graph}} col-md-{{layout.comMD.graph}} col-lg-{{layout.colLG.graph}} profile-graph">
				<div class="profile-title">
					<h4>{{widget.title}}</h4>
					{{widget.subtitle}}<br />
				</div>
				<div class="profile-body" ng-include="'/details/widgets/' + widget.file + '.widget.html'"></div>
			</div>
			<div class="col-xs-{{layout.colXS.data}} col-sm-{{layout.colSM.data}} col-md-{{layout.comMD.data}} col-lg-{{layout.colLG.data}} profile-data">
				<div ng-include="'/details/widgets/generic.data.html'"></div>
			</div>
		</div>
	</div>
	<!--
	<div class="col-xs-3 facets">
		<div class="well well-sm">
			<h2>Refine data</h2>
			<p></p>
			<h4>Threads</h4>
			<div ng-repeat="p in profiles">
				<p>{{p.label}}</p>
				<ul>
					<li ng-repeat="t in data[p.id].threads.info">{{t.h}}</li>
				</ul>
			</div>
		</div>
	</div>
	-->
</div>