/*
 * Detail
 */
.detail h2 {
	margin-top: 0px;
	padding-right: 20px;
}
.detail .profile h2 {
	display: inline-block;
}
.detail .profile h4 {
	padding-right: 10px;
	display: inline-block;
}

.detail .profile-hardware:hover > .dropdown-menu {
	display: block;
}
.detail .profile-hardware .profile-carret {
	padding-left: 6px;
}
.detail .profile-hardware-menu {
	min-width: 280px;
	margin-top: 2px;
}
.detail .profile-hardware-menu .list-group-item h5 + p {
	padding-top: 4px;
}
.detail .profile-hardware-menu b {
	padding-left: 10px;
}


.detail .profile .profile-graph {
	height: 60px;
}

.detail .profile .profile-graph svg {
	height: 100%;
	width: 100%;
}

.detail .profile .profile-data {
}

.detail .facets .well {
	min-height: 500px;
}