/*
 * Detail
 */
.detail h2 {
	margin-top: 0px;
	padding-right: 20px;
}
.detail .profile h2 {
	display: inline-block;
}
.detail .profile h4 {
	padding-right: 10px;
	display: inline-block;
}

.detail .profile {
	margin-bottom: 60px;
}

.detail .profile-hardware:hover > .dropdown-menu {
	display: block;
}
.detail .profile-hardware .profile-carret {
	padding-left: 6px;
}
.detail .profile-hardware-menu {
	min-width: 280px;
	margin-top: 2px;
}
.detail .profile-hardware-menu .list-group-item h5 + p {
	padding-top: 4px;
}
.detail .profile-hardware-menu b {
	padding-left: 10px;
}


.detail .profile .profile-graph {
	min-height: 60px;
}

.detail .profile .profile-graph svg {
	height: 100%;
	width: 100%;
}

.detail .profile .profile-data {
}

.detail .facets .well {
	min-height: 500px;
}


/*
 * Graphs
 */
.detail .widget-graph {
	width: 100%;
	display: block;
	
	background-attachment: fixed;
	background-image: url("../assets/error.jpg");
	
}
.detail .widget-band {
	height: 40px;
}
.detail .widget-detail {
	height: 140px;
}

.detail td.container-graph {
	padding: 0px !important;
	height: 100% !important;
	vertical-align: bottom !important;
}
.detail .integrated-graph {
	margin: 0px !important;
	height: 100%;
	min-height: 33px;
	width: 100%;
	display: block;
}