/*
 * Base structure
 */
body {
	padding-top: 70px; /* Move down content because we have a fixed navbar that is 50px tall */
}
.nav, .pagination, .carousel, .panel-title a, .link {
	cursor: pointer; /* Angular Bootstrap UI side effect with Bootstrap  */
}
.btn-toolbar-vertical {
  margin-top: -5px;
}
.btn-toolbar-vertical > .btn,
.btn-toolbar-vertical > .btn-group-vertical,
.btn-toolbar-vertical > .input-group {
  margin-top: 5px;
}

/*
 * Dashboard
 */
.dashboard .dashboard-labels {
	margin-top: 200px;
}
.dashboard .dashboard-labels .media .media-body {
	height: 50px;
	text-align: right;
	vertical-align: middle;
}

.dashboard .dashboard-profile {
	margin-bottom: 0px;
}
.dashboard .dashboard-profile + button {
	margin-right: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.dashboard .dashboard-profile .list-group-item {
}

/*
 * Details
 */
.reminder {
	float: left;
	width: 60px;
}
.reminder i {
	width: 26px;
}
.facets {
	float: right;
	width: 200px;
	padding-top: 54px;
}
.detail {
	margin-left: 60px;
}
.detail-faceted {
	margin-right: 200px;
}
.detail .profile-data .well {
	padding-top: 34px;
}


/*
 * Footer
 */
.footer {
	margin-top: 50px;
}
.footer footer {
	text-align: center;
}