.radio{
	padding-left: 35px;
	margin: 5px;
}

.open-question{
	margin: 5px 0px 5px 0px;
}

hr {
	margin: 10px;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}