<section class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">Feedback</h1>
	</div>
	
	<div class="modal-body">
		<form class="form-horizontal"><fieldset>
			<div ng-repeat="uipart in allParts" class="form-group">
				<label class="col-lg-2 control-label" style="font-weight: bold;">{{uipart.l}}</label>
				<div class="col-lg-10">
					<uib-rating ng-model="form[uipart.id].r" max="10" aria-labelledby="default-rating" state-on="'fa-thumbs-up fa-fw'" state-off="'fa-thumbs-o-down fa-fw'" style="font-size: 1.4em;"></uib-rating>
					<span ng-if="form[uipart.id].r >= 0">{{form[uipart.id].r * 10}}%</span>
					<textarea ng-model="form[uipart.id].c" class="form-control" rows="3" id="textArea"></textarea>
					<span class="help-block">{{uipart.tips}}</span>
				</div>
			</div>
		</fieldset></form>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" type="button" ng-click="actionNext()">Next<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>