<section class="panel panel-shadow">

<header class="panel-heading"><h1><b>{{thread.title}}</b> Experiment</h1></header> 
<div id="panel-content" class="panel-body">

<div class="well">
  <h4>Goal</h4>
  <p ng-bind-html="thread.goal"></p>

  <h4>Scope</h4>
  <p>
    For the purpose of this work, we make assumptions
    about the type of multicore computer where the performance problems occur on. We're looking at the kind of machine that is found
    on the typical desktop: A machine with multiple cores and a shared
    memory with hardware cache coherency, and which runs an operating
    system. We assume a shared-memory programming model based on threads,
    with locks, barriers, semaphores, critical sections and similar
    mechanisms as the main synchronization mechanism. The machine might
    have multiple CPU chips, but all operate on a shared memory with cache
    coherency.

    The cores of the machine may support hardware multithreading; that is
    a single core may be able to execute more than one thread either by
    switching thread every machine cycle (classical multithreading), or by
    intermixing instructions from more than one thread in the execution
    pipeline. <a href="assets/common/survey.pdf" target="_blank">[PDF]</a>
  </p>
</div>



  
<form role="form">

  <div class="form-group">
    <label>Email address (only for prize pool)</label>
    <input ng-model="form.email" type="text" class="form-control" placeholder="Enter your email">
  </div>

	<div class="form-group">
		<label>Your age demographic</label><br/>
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="1" uncheckable>0-17 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="2" uncheckable>18-25 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="3" uncheckable>26-35 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="4" uncheckable>36-45 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="5" uncheckable>46-55 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="6" uncheckable>56-65 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="7" uncheckable>65+ years</label>
		</div>
	</div>

	<div class="form-group">
		<label>Your gender</label><br/>
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="form.gender" uib-btn-radio="1" uncheckable>Male</label>
			<label class="btn btn-default btn-sm" ng-model="form.gender" uib-btn-radio="2" uncheckable>Female</label>
			<label class="btn btn-default btn-sm" ng-model="form.gender" uib-btn-radio="3" uncheckable>Other</label>
		</div>
	</div>

	<div class="form-group">
		<label>Highest level of education</label><br/>
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="1" uncheckable>High School or Less</label>
			<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="2" uncheckable>Bachelors/Polytechnical Degree</label>
			<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="3" uncheckable>Masters Degree</label>
			<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="4" uncheckable>Doctoral Degree</label>
		</div>
	</div>

	<div class="form-group">
		<label>Self-assessed expertise in parallel programming</label><br/>
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="1" uncheckable>Novice</label>
			<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="2" uncheckable>Average</label>
			<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="3" uncheckable>Above Average</label>
			<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="4" uncheckable>Expert</label>
		</div>
	</div>

	<div class="form-group">
		<label>Years of professional experience</label><br/>
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="form.experience" uib-btn-radio="1" uncheckable>0-5 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.experience" uib-btn-radio="2" uncheckable>6-10 years</label>
			<label class="btn btn-default btn-sm" ng-model="form.experience" uib-btn-radio="3" uncheckable>10+ years</label>
		</div>
	</div>

  <div class="form-group">
    <label>Informed Consent</label>
      <ul style="list-style-type: disc; padding: 10px 20px 0 20px; font-size:11px;overflow-y: scroll; height:100px; border: 1px dashed">
        <li>I understand that my participation in this study will involve using a computer program, answering to survey questions and discussing my actions in one or more retrospective interviews.</li>
        <li>I understand that my interaction with the system/survey will be logged.</li>
        <li>I understand that the recorded data will be made anonymous and be accessible to a small team of researcher (i.e. a research team of 4 people) for study purposes.</li>
        <li>I understand that even though the recorded data will be made anonymous it will not be available to other people outside of the mentioned research team.</li>
        <li>I understand that participation in this study is entirely voluntary and that I can withdraw from the study at any time without giving a reason.</li>
        <li>I understand that I am free to ask any questions at any time. I am free to withdraw without providing a reason, or to discuss my concerns with the experimenter.</li>
        <li>I agree that my data is used for scientific purposes and I have no objection that my data is published in scientific publications in a way that does not reveal my identity.</li>
        <li>I understand that I can make subsequent contact with the researcher conducting this survey Bérenger Arnaud (via email: arnaudb@tcd.ie) if I wish to obtain a copy of any papers derived from the research.</li>
        <li>In the extremely unlikely event that illicit activity is reported to me during the survey I will be obliged to report it to appropriate authorities.</li>
        <li>I understand that if I, or anyone in my family, have a history of epilepsy then I am preceding at my own risk.</li>
        <li><b>I understand that the information provided by me will be held anonymously so that it is impossible to trace this information back to me individually. In accordance with the Data Protection Act this information may be retained indefinitely</b></li>
      </ul>
  </div>

  <div class="checkbox">
    <label>
      <input ng-model="form.consent" type="checkbox"> 

      I have read the <a target="_blank" href="assets/common/survey.pdf">informed consent form</a> and consent to participate in this study conducted by Bérenger Arnaud in the School of Computer Science and Statistics, Trinity College, Dublin under the supervision of Dr. Gavin Doherty and I confirm that I am over 18 years old.  
    </label>
  </div>
</form>


<div class="panel-footer">
	<nav>
	  <div class="pager">
	    <a ng-show="form.consent" ng-click="actionNext()" class="btn btn-primary" >Begin the experiment <i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></a>
	  </div>
	</nav>
</div>

</div>
</section>