<!-- Task: presentation -->
<section ng-if="tabIndex == 0" class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">Task #{{taskID}}</h1>
	</div>
	
	<div class="modal-body">
		<p>
			Todo Task.1.1
		</p><p>
			Todo Task.1.2
		</p>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" type="button" ng-click="actionNextTab()">Next<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>

<!-- Task: tool -->
<div ng-if="tabIndex == 1" class="task">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4"><div class="well well-sm">
				<fieldset>
					<div class="form-group">
						<label class="control-label" for="focusedInput">List the problem(s) for the <span class="text-primary">◧</span> left profile:</label>
						<div class="flex-list">
							<span>test</span>
							
							<!--
							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
									<i class="fa fa-plus" style="padding-right: 8px;"></i>Add
								</button>
								<div uib-dropdown-menu template-url="task-select-issue1.html"  style="width: 300px;"></div>
							</div>

							<!--
							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
									<i class="fa fa-plus" style="padding-right: 8px;"></i>Add
								</button>
								<div class="dropdown-menu" uib-dropdown-menu template-url="dropdown.html"></div>
							</div>
							-->
						</div>
					</div>
				</fieldset>
			</div></div>
			<div class="col-sm-3"><div class="well well-sm">
				<fieldset>
					<div class="form-group">
						<label class="control-label" for="focusedInput">What is the best profile:</label>
						<div class="btn-group btn-group-justified" role="group">
							<label class="btn btn-default btn-xs" ng-model="form.quickest" uib-btn-radio="'none'" uncheckable>none</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest" uib-btn-radio="'a'" uncheckable>
								<span class="text-primary" style="margin-right: 6px;">◧</span>left
							</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest" uib-btn-radio="'both'" uncheckable>both</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest" uib-btn-radio="'b'" uncheckable>
								right<span class="text-primary" style="margin-left: 6px;">◨</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="focusedInput">Are you confident about this comparison:</label>
						<div class="btn-group btn-group-flex" role="group">
							<label class="btn btn-default btn-xs" ng-model="form.quickest_c" uib-btn-radio="1" uncheckable>doubtful</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest_c" uib-btn-radio="2" uncheckable>←</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest_c" uib-btn-radio="3" uncheckable>neutral</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest_c" uib-btn-radio="4" uncheckable>→</label>
							<label class="btn btn-default btn-xs" ng-model="form.quickest_c" uib-btn-radio="5" uncheckable>confident</label>
						</div>
					</div>
				</fieldset>
			</div></div>
			<div class="col-sm-4"><div class="well well-sm">
				<fieldset>
					<div class="form-group">
						<label class="control-label" for="focusedInput">List the problem(s) for the right <span class="text-primary">◨</span> profile:</label>
						<div class="flex-list">
							<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus" style="padding-right: 8px;"></i>Add</button>
						</div>
					</div>
				</fieldset>
			</div></div>
			<div class="col-sm-1">
				<div class="btn-group-vertical" style="width: 100%">
					<button type="button" class="btn btn-link" type="button" ng-click="actionPreviousTab()"><i class="fa fa-hand-o-left" style="padding-right: 8px;"></i>Intro</button>
					<button type="button" class="btn btn-primary" type="button" ng-click="actionNextTab()">OK<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
				</div>
			</div>
		</div>
	</div>
	<iframe frameborder="0" ng-src="{{path}}" />
</div>

<!-- Task: last comments -->
<section ng-if="tabIndex == 2" class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">{{tabs[tabIndex].t}}</h1>
	</div>
	
	<div class="modal-body">
		<p>
			Todo Task.2.1
		</p><p>
			Todo Task.2.2
		</p>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-link" type="button" ng-click="actionPreviousTab()"><i class="fa fa-hand-o-left" style="padding-right: 8px;"></i>Previous ({{tabs[tabIndex - 1].l}})</button>
		<button type="button" class="btn btn-primary" type="button" ng-click="actionNextTab()">Next<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>

<!--
<script type="text/ng-template" id="task-select-issue.html">
	<div uib-dropdown-menu class="dropdown-menu" style="width: 300px;">
		test
	</div>
</script>
-->