<section class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">About you</h1>
	</div>
	
	<div class="modal-body">
		<form class="form-horizontal"><fieldset>
			<div class="form-group">
				<label class="col-lg-2 control-label">Age demographic</label>
				<div class="col-lg-10">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="1" uncheckable>0-17 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="2" uncheckable>18-25 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="3" uncheckable>26-35 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="4" uncheckable>36-45 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="5" uncheckable>46-55 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="6" uncheckable>56-65 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.age" uib-btn-radio="7" uncheckable>65+ years</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Gender</label>
				<div class="col-lg-10">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="form.gender" uib-btn-radio="1" uncheckable>Male</label>
						<label class="btn btn-default btn-sm" ng-model="form.gender" uib-btn-radio="2" uncheckable>Female</label>
						<label class="btn btn-default btn-sm" ng-model="form.gender" uib-btn-radio="3" uncheckable>Other</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Last degree</label>
				<div class="col-lg-10">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="1" uncheckable>High School or Less</label>
						<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="2" uncheckable>Bachelors/Polytechnical Degree</label>
						<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="3" uncheckable>Masters Degree</label>
						<label class="btn btn-default btn-sm" ng-model="form.education" uib-btn-radio="4" uncheckable>Doctoral Degree</label>
					</div>
					<span class="help-block">Your highest level of educatione</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Position</label>
				<div class="col-lg-10">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="form.position" uib-btn-radio="1" uncheckable>Student</label>
						<label class="btn btn-default btn-sm" ng-model="form.position" uib-btn-radio="2" uncheckable>Industry programmer</label>
						<label class="btn btn-default btn-sm" ng-model="form.position" uib-btn-radio="3" uncheckable>Research programmer</label>
						<label class="btn btn-default btn-sm" ng-model="form.position" uib-btn-radio="4" uncheckable>Educator</label>
					</div>
					<span class="help-block">Main or more appropiate job activity</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Expertise <span class="text-danger">✲</span></label>
				<div class="col-lg-10">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="1">Novice</label>
						<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="2">Average</label>
						<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="3">Above Average</label>
						<label class="btn btn-default btn-sm" ng-model="form.expertise" uib-btn-radio="4">Expert</label>
					</div>
					<span class="help-block"><span class="text-danger">Required.</span> Self-assessed expertise <strong>in parallel programming</strong></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Experience <span class="text-danger">✲</span></label>
				<div class="col-lg-10">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="form.experience" uib-btn-radio="1">0-5 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.experience" uib-btn-radio="2">6-10 years</label>
						<label class="btn btn-default btn-sm" ng-model="form.experience" uib-btn-radio="3">10+ years</label>
					</div>
					<span class="help-block"><span class="text-danger">Required.</span> How many years of professional experience</span>
				</div>
			</div>
		</fieldset></form>
	</div>
	
	<div class="modal-footer">
		<span ng-show="! allRequiredFileds()" class="text-danger">Please fill the required fields to continue.</span>
		<button ng-show="allRequiredFileds()" type="button" class="btn btn-primary" type="button" ng-click="actionNext()">Next <i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>

<footer id="footer" class="footer">
	<div class="container">
		<p class="text-muted">&copy; Trinity College Dublin</p>
	</div>
</footer>