/*
 * Dashboard
 */
.dashboard h2 {
	margin-top: 0px;
	/* display: inline-block; */
}

.dashboard a {
	cursor: pointer;
}

.dashboard .profile h2 i {
}
.dashboard .profile p i {
	padding-right: 6px;
}

.dashboard .profile-hardware-menu {
	min-width: 280px;
	margin-top: 2px;
}
.dashboard .profile-hardware-menu .list-group-item h5 + p {
	padding-top: 4px;
}
.dashboard .profile-hardware-menu b {
	padding-left: 10px;
}


.dashboard .profile .profile-sequence .panel {
	border-radius: 0px;
}
.dashboard .profile .profile-body .panel {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.dashboard .profile .profile-body .list-group-item {
	margin: 0px;
	padding: 0px;
	height: 60px;
	width: 100%;
}
.dashboard .profile .profile-body .list-group-item svg {
	height: 100%;
	width: 100%;
}

.dashboard .ctrl-add .list-group {
	padding-left: 40px;
	width: 260px;
}