<div class="row dashboard">
	<!-- Profiles -->
	<div class="col-xs-2 profile" ng-repeat-start="(profile_index, profile) in selectedProfiles"><div class="tile">

		<!-- main -->
		<div class="section">
			<a class="pin hover-text" href ng-click="unselectProfile(profile)">
				<span class="text">deselect</span><span class="fa-stack fa-lg icon">
					<i class="fa fa-thumb-tack fa-stack-1x"></i>
					<i class="fa fa-ban fa-stack-2x"></i>
				</span>
			</a>
			<h2>{{profile.label}}</h2>
			<p class="subtitle">{{profile.desc != null && profile.desc.length > 0 | iif : profile.desc : '&nbsp;' }}</p>

			<!-- hardware -->
			<div class="dropdown" dropdown on-toggle="toggled(open)"><p class="profile-hardware">
				<i class="fa fa-laptop"></i>
				<span class="dropdown-toggle link" dropdown-toggle>
					{{profile.hardware.info.cpu.label}}
					<a href><i class="fa fa-caret-square-o-down"></i></a>
				</span>
				<div class="panel panel-primary dropdown-menu profile-hardware-menu">
					<div class="panel-heading"><h3 class="panel-title">Hardware details</h3></div>
					<ul class="list-group">
						<li class="list-group-item">
							<h5 class="list-group-item-heading">
								<a href="{{profile.hardware.info.cpu.link}}" class="pull-right">specs</a>
								<span class="label label-primary">CPU</span> {{profile.hardware.info.cpu.label}}
							</h5>
							<p class="list-group-item-text">
								<b>Model :</b> {{profile.hardware.info.cpu.model}}<br />
								<b>Type :</b> {{profile.hardware.info.cpu.type}}<br />
								<b>Cores :</b> {{profile.hardware.info.cpu.cores}}<br />
								<b>Clock :</b> {{profile.hardware.info.cpu.clock}}<br />
								<b>Cache L1 :</b> {{profile.hardware.info.cpu.l1}}<br />
								<b>Cache L2 :</b> {{profile.hardware.info.cpu.l2}}<br />
								<b>Cache L3 :</b> {{profile.hardware.info.cpu.l3}}
							</p>
						</li>
						<li class="list-group-item">
							<h5 class="list-group-item-heading"><span class="label label-primary">RAM</span> {{profile.hardware.info.ram}}</h5>
						</li>
					</ul>
				</div>
			</p></div>

			<!-- stat -->
			<p><i class="fa fa-bar-chart"></i> <strong>duration:</strong> {{data[profile.id].info.duration}} ms</p>
		</div>

		<!-- categories -->
		<div id="section{{profile_index}}{{category_index}}" class="section" ng-repeat="(category_index, category) in categories">
			<!-- <span class="title">Test of title</span> -->
			<a href ui-sref='detail({cat: category.tag, ids: encodeSelectedProfile()})'><proxy-link-directive ng-attr-graph="{{category.graph}}" class="widget-graph"></proxy-link-directive></a>
		</div>
	</div></div>

	<!-- Control and Legend -->
	<div id="ctrl-legend" class="col-xs-1 ctrl ctrl-legend" ng-repeat-end ng-if="$index == 0" ng-class="(will2Profiles()) ? 'center' : ''">

		<!-- Control -->
		<div class="ctrl-box" ng-if="has2Profiles()">
			<p>
				<a class="action" href ng-click="unselectAllProfiles()">
					<span class="fa-stack icon">
						<i class="fa fa-thumb-tack fa-stack-1x"></i>
						<i class="fa fa-ban fa-stack-2x"></i>
					</span><span class="text">deselect all</span>
				</a>
			</p><p>
				<a class="action" href ng-click="invertProfiles()">
					<span class="fa-stack icon">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
					</span><span class="text">invert</span>
				</a>
			</p>
		</div>


		<!-- legend -->
		<div class="section" ng-repeat="category in categories" ng-style="{top: sectionY($index) + 'px'}" ui-sref='detail({cat: category.tag, ids: encodeSelectedProfile()})'>
			<p class="title"><!-- <i class="fa fa-{{category.icon}}"></i>  -->{{category.title}}</p>
			<p class="legend">
				<span ng-repeat="legend in category.deck.legend | reverse" style="color: {{legend.fcolor}}">
					<span class="icon left">▮</span>
					<span class="icon right" ng-if="will2Profiles()">▮</span>
					<span class="text">{{legend.label}}</span>
					<br ng-if="! $last" />
				</span>
			</p>
		</div>
	</div>

	<!-- Waiting -->
	<div ng-if="waitingData()" class="col-xs-2 ctrl"><div class="block">
		<span class="block-icon fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-spinner fa-pulse fa-stack-1x fa-inverse"></i>
		</span>
		<strong>Retrieving data...</strong>
	</div></div>

	<!-- Other - line 1 - tools -->
	<div class="col-xs-{{mainColSize()}}"><div class="row">

		<!-- Selection -->
		<div ng-if="canAddProfile()" class="col-µ ctrl" style="width: 350px"><div class="block block-title" ng-init="showsV3 = false">
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
			</span>
			<h2>{{! hasSelectedProfile() | iif : "Select a sample" : "Compare with"}}</h2>
			<div class="btn-group-col btn-group-col-3">
				<button type="button" class="btn btn-default btn-xs" ng-click="selectProfile(profile)" ng-repeat="profile in availableProfiles | v4 | orderBy : 'label'" ng-disabled="profile.disabled">{{profile.label}}</button>
			</div>
			<p>
				<a href ng-click="showsV3 = ! showsV3"><i class="fa fa-eye-slash"></i> {{ showsV3 | iif : 'hide' : 'show also' }} incomplete profiles</a>
			</p>
			<div class="btn-group-col btn-group-col-3" ng-if="showsV3">
				<button type="button" class="btn btn-default btn-xs" ng-click="selectProfile(profile)" ng-repeat="profile in availableProfiles | v3 | orderBy : 'label'" ng-disabled="profile.disabled">{{profile.label}}</button>
			</div>
			<div class="alert alert-info ctrl-element ctrl-add-nomore" ng-show="availableProfiles.length == 0">
				<i class="fa fa-2x fa-frown-o" style="float: left; margin-right: 8px;"></i>
				<strong>Sorry</strong><br />
				not enough samples are available
			</div>
		</div></div>

		<!-- Control -->
		<!-- <div ng-if="hasProfiles()" class="col-auto ctrl"><div class="block">
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
			</span>
			<p ng-if="hasProfiles()"><a class="action" href ng-click="unselectAllProfiles()">
				<span class="fa-stack icon">
					<i class="fa fa-thumb-tack fa-stack-1x"></i>
					<i class="fa fa-ban fa-stack-2x"></i>
				</span><span class="text">deselect all</span>
			</a></p>
			<p ng-if="has2Profiles()"><a class="action" href ng-click="invertProfiles()">
				<span class="fa-stack icon">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
				</span><span class="text">invert</span>
			</a></p>
		</div></div> -->

		<!-- Disclamer -->
		<div class="col-µ" style="min-width: 280px"><div class="block block-title">
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-info fa-stack-1x fa-inverse"></i>
			</span>
			<h2>Be careful</h2>
			This tool is created for a research purpose and is in constant evolution.<br />
			Graphs could contain some mistakes and data could be miscomputed.
		</div></div>

		<!-- Stats -->
		<div ng-if="hasProfiles()" class="col-µ" style="min-width: 280px"><div class="block block-imp block-title">
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-text-width fa-stack-1x fa-inverse"></i>
			</span>
			<h2>Sequence</h2>
			TODO
		</div></div>


	<!-- Other - line 2 - indicators -->
	</div><div class="row {{needToBlur | iif : ' blured' : ''}}" ng-if="hasProfiles()">

		<div class="col-auto" ng-repeat="indicator in indicators"><div class="panel panel-default category" ng-mouseenter="blur()" ng-mouseleave="unblur()">
			<div class="panel-heading">
				<h3 class="panel-title">{{indicator.title}}</h3>
			</div>
			<div class="panel-expected">
				<h4>Expected</h4>
			</div>
			<div class="panel-legend">
				<h4>Legend</h4>
				<p ng-repeat="l in indicator.legend">
					<span style="color: {{l.color}}">{{l.icon | iif : l.icon : '▮'}}</span>
					<strong>{{l.label}}:</strong>
				</p>
			</div>
			<div class="panel-body">
				<proxy-link-directive ng-attr-graph="{{indicator.graph}}" class="indicator-graph"></proxy-link-directive>
			</div>
			<div class="panel-links">
				<h4>Figure it out</h4>
				<div class="links">
					<a href ui-sref='detail({cat: category.tag, ids: encodeSelectedProfile()})' ng-repeat-start="category in indicator.links"><i class="fa fa-arrow-circle-o-right"></i>{{category.label}}</a><br ng-repeat-end ng-if="! $last" />
				</div>
			</div>
		</div></div>

	</div>

</div>