/*
 * Dashboard layout
 */
.dashboard h2 {
	margin-top: 0px;
}



/**
 * Dashboard profile
 */
.dashboard .profile .tile {
	overflow: visible;
	background-color: #FFFFFF;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;

	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0px none;

	min-height: 20px;

	margin-bottom: 40px;
	padding: 0px;
}
.dashboard .profile .tile .section {
	min-height: 60px;
}
.dashboard .profile .tile .section:first-child {
	padding: 20px 20px 10px 20px;
}
.dashboard .profile .tile .section-strip {
	border-top: 1px solid #DDD;
}
.dashboard .profile .tile .section-category {
	border-top: 2px dashed #797979;
}

.dashboard .profile .subtitle {
	margin-top: -10px;
	margin-bottom: 16px;
	min-height: 45px;
}

.dashboard .profile .graphs section {
	margin: 0px;
	padding: 0px;
	height: 60px;
	width: 100%;
}
.dashboard .profile .graphs svg {
	height: 100%;
	width: 100%;
}


/**
 * Dashboard profile hardware
 */
.dashboard .profile-hardware-menu {
	min-width: 280px;
	margin-top: 2px;
}
.dashboard .profile-hardware-menu .list-group-item h5 + p {
	padding-top: 4px;
}
.dashboard .profile-hardware-menu b {
	padding-left: 10px;
}



/**
 * Dashboard fake profile
 */
/*
.dashboard .fake-profile {
	position: absolute;
	z-index: 950;
	left: 33.3333%;
}
*/
/*
.dashboard .profile:nth-child(2).fake-profile {
	left: 16.6667%;
}
.dashboard .profile:nth-child(3).fake-profile {
	left: 33.3333%;
}
*/



/**
 * Dashboard Section
 */
.dashboard .profile .section-strip a:hover, .dashboard .profile .section-strip a:visited, .dashboard .profile .section-strip a:link, .dashboard .profile .section-strip a:active {
	text-decoration: none !important;
}
.dashboard .profile .section-strip:hover .title {
	color: #008CBA;
}
.dashboard .profile .section-strip:hover .title:after {
	border-bottom-color: #008CBA;
}


/**
 * Dashboard gauge section
 */
.dashboard .gauge .panel {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.dashboard .gauge .panel-heading {
	width: 100px;
}
.dashboard .gauge .panel-body {
	padding: 0px;
}
.dashboard .gauge			.panel-heading { width: 100px; }
.dashboard .gauge .for2		.panel-heading { width: 201px; }
.dashboard .gauge .big		.panel-heading { width: 140px; }
.dashboard .gauge .big.for2 .panel-heading { width: 281px; }

.dashboard .gauge	   .panel-body { height: 100px; }
.dashboard .gauge .big .panel-body { height: 140px; }

.dashboard .gauge .panel-section {
	display: inline-block;
}
.dashboard .gauge .panel-section + .panel-section {
	border-left: 1px solid #DDD;
}



/**
 * Dashboard Legend
 */
.dashboard .ctrl-legend {
	padding: 0px;
	font-size: 0.8em;
}

.dashboard .ctrl-legend .section {
	min-height: 60px;
	width: 100%;
	position: absolute;
	cursor: pointer;
	border-top: 1px dashed #797979;
}
.dashboard .ctrl-legend .section + .section {
	border-top: 1px dashed #797979;
}
.dashboard .ctrl-legend p.title {
	margin: 0px;
	font-weight: bold;
}

.dashboard .ctrl-legend.left {		text-align: left; }
.dashboard .ctrl-legend.center {	text-align: center; }
.dashboard .ctrl-legend .icon.left {	float: left; }
.dashboard .ctrl-legend .icon.right {	float: right; }



/**
 * Dashboard block
 */
.dashboard .block {
	overflow: hidden;

	border: 2px dashed #E8E8E8;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

	margin-bottom: 20px;
	padding: 55px 20px 20px 20px;
}
.dashboard .block-imp {
	border: none;

	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	outline: 0px none;

	background-color: #FFFFFF;
}
.dashboard .block-title {
	padding-top: 20px;
}
.dashboard .block-icon {
	float: left;
	font-size: 2.2em;
	margin-right: 6px;
	margin-top: -66px;
	margin-left: -31px;
}
.dashboard .block-title .block-icon {
	margin-top: -31px;
}


/**
 * Dashboard pin
 */
.dashboard .pin {
	position: absolute;
	top: 2px;
	right: 17px;
	z-index: 100;
}
.dashboard .pin .text		{ padding-right: 2px; }
.dashboard .pin > .fa		{ font-size: 1.1em !important; }
.dashboard .pin .fa-stack	{ font-size: 0.8em !important; }

.dashboard .cat .pin {
	top: 4px;
	right: 19px;
}



/**
 * Dashboard control
 */
.dashboard .ctrl a .text {
	padding-left: 4px;
}
.dashboard .ctrl-box {
	width: auto;
	display: inline-block;
	text-align: left;

	border: 2px dashed #E8E8E8;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

	margin-top: 10px;
	padding: 10px 10px 10px 8px;
}
.dashboard .ctrl-box p:last-child {
	margin: 0px;
}



/*
 * Dashboard category
 */
/* .dashboard .cat {
	overflow: hidden;

	border: 2px dashed #E8E8E8;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

	margin-bottom: 20px;
	padding: 20px;

	background-color: #FAFAFA;
}*/
/*
.dashboard .category {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.dashboard .category .panel-expected {	display: none;	}
.dashboard .category .panel-legend {		display: none;	}
.dashboard .category .panel-links {		display: none;	}

.dashboard .category:hover .panel-expected {
	display: inline-block;
	position: absolute;
	z-index: 1001;
	
	padding: 10px 15px;
	
	top: 20px;
	right: 145px;
	width: 200px;
	
	text-align: right;
}

.dashboard .category:hover .panel-legend {
	display: inline-block;
	position: absolute;
	z-index: 1002;
	
	padding: 10px 15px;
	
	left: 146px;
	top: 20px;
	min-width: 200px;
}

.dashboard .category:hover .panel-links {
	display: inline-block;
	position: absolute;
	z-index: 1003;
	
	width: 200%;
	left: -50%;
	
	text-align: center;
}
.dashboard .category .panel-links .links {
	display: inline-block;
	text-align: left;
}
.dashboard .category .panel-links i {
	padding-right: 4px;
}
*/

/*
.dashboard .indicator-graph {
	margin: 0px !important;
	min-width: 40px;
	min-height: 40px;
}
*/



/**
 * Dashboard chart strip
 */
.dashboard .strip .widget-graph {
	min-width: 40px;
	height: 60px;
}

/**
 * Dashboard chart gauge
 */
.dashboard .gauge .widget-graph {
	width: 100px;
	height: 100px;
}
.dashboard .gauge .widget-graph.big {
	width: 140px;
	height: 140px;
}

/**
 * Dashboard chart styles
 */
.dashboard .widget-graph .svg-title {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 26px;
	font-weight: 300;
	user-select: none;
}
.dashboard .widget-graph:hover .svg-title {
	/*text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF;*/
	text-shadow: 0 0 10px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
	fill: #222;
	/* transition: .2s linear all; */
}
/*
.dashboard .widget-grap .svg-background {
	fill: #FFF;
}
*/



/**
 * Dashboard blur
 */
.modalbg {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 900;
	background-color: rgba(0, 0, 0, 0.4);
}
.hovermodal:hover {
	z-index: 950;
}
.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
.animate-enter.animate-enter-active {
	opacity: 1;
}


/**
 * Dashboard experiments
 */