<div class="row dashboard">
	<!-- Profiles -->
	<div class="col-xs-{{selectedProfiles.length * 3}} dashboard-profile" ng-show="hasSelectedProfile()">
		<div class="row profile-title">
			<div class="col-xs-{{12 / selectedProfiles.length}}" ng-repeat="profile in selectedProfiles">
				<!-- <h2><span class="pull-right link" ng-click="unselectProfile(profile)"><i class="fa fa-times"></i></span>{{profile.label}}</h2> -->
				<h2 style="display: inline-block">{{profile.label}}</h2>
				(<a class="fa fa-times" ng-click="unselectProfile(profile)"></a>)
				<p>{{profile.desc}}</p>
				<p>
					<span class="label label-default">CPU</span> Intel core I7,
					<span class="label label-default">RAM</span> 4 GB,
					...
				</p>
			</div>
		</div>
		<div class="row profile-sequence">
			<div class="col-xs-12">
				<h4>Sequence</h4>
				<svg class="widget-sequence" height="60">
					<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Graph here</text>
				</svg>
			</div>
		</div>
		<div class="row profile-body">
			<div class="col-xs-{{12 / selectedProfiles.length}}" ng-repeat="profile in selectedProfiles">
				<h4>Profile</h4>
				<div class="list-group">
					<a href="#/detail/tg/{{profile.id}}" class="list-group-item">
						<svg class="indicator-tg" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Task granularity graph here</text>
						</svg>
					</a>
					<a href="#/detail/sy/{{profile.id}}" class="list-group-item">
						<svg class="indicator-sy" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Synchronisation graph here</text>
						</svg>
					</a>
					<a href="#/detail/ds/{{profile.id}}" class="list-group-item">
						<svg class="indicator-ds" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Data sharing graph here</text>
						</svg>
					</a>
					<a href="#/detail/lb/{{profile.id}}" class="list-group-item">
						<svg class="indicator-lb" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Load balancing graph here</text>
						</svg>
					</a>
					<a href="#/detail/dl/{{profile.id}}" class="list-group-item">
						<svg class="indicator-dl" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Data locality graph here</text>
						</svg>
					</a>
					<a href="#/detail/rs/{{profile.id}}" class="list-group-item">
						<svg class="indicator-rs" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Ressource sharing graph here</text>
						</svg>
					</a>
					<a href="#/detail/io/{{profile.id}}" class="list-group-item">
						<svg class="indicator-io" height="40">
							<text fill="#000000" font-size="10" font-family="Verdana" x="5" y="15">Input/Output graph here</text>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Selection -->
	<div class="col-xs-3" ng-show="canAddProfile()">
		<h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{! hasSelectedProfile() | iif : "Select a sample" : "Compare with"}}</h2>
		<div class="list-group">
			<a ng-click="selectProfile(profile)" class="list-group-item" ng-repeat="profile in availableProfiles | orderBy:'id'">
				<h4 class="list-group-item-heading">{{profile.label}}</h4>
				<p class="list-group-item-text">{{profile.desc}}</p>
			</a>
		</div>
	</div>
	
	<!-- Selection -->
	<div class="col-xs-1" ng-show="hasSelectedProfile()">
		<div class="btn-group-vertical">
			<a class="btn btn-default" ng-click="unselectAllProfiles()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
			<!--
			<a class="btn btn-default disabled">
				<i class="glyphicon fa fa-sliders" aria-hidden="true"></i>
			</a>
			-->
		</div>
	</div>
</div>