/*
 * Dashboard layout
 */
.dashboard h2 {
	margin-top: 0px;
	display: inline-block;
}



/**
 * Dashboard decoration
 */
.dashboard .tile {
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0px none;
	margin-bottom: 20px;
}
.dashboard .tile section {
	padding: 20px;
}
.dashboard .tile section:first-child {
	padding-right: 60px;
}
.dashboard .tile section ~ section {
	border-top: 1px dashed #000000;
}

.dashboard .well {
	border-width: 2px;
	border-style: dashed;
	background-color: transparent;
	overflow: hidden;
	margin-bottom: 20px;
}



/**
 * Dashboard icons
 */
.dashboard .tile-icon {
	position: absolute;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin-top: -19px;
	margin-left: -20px;
}
.dashboard .tile-icon > .fa-stack {
	position: absolute;
	margin-top: -6px;
	margin-left: -6px;
	font-size: 1.2em;
}
.dashboard .tile-icon > .fa {
	position: absolute;
	margin-top: -7px;
	margin-left: -9px;
	font-size: 1.8em;
}


.dashboard .well-icon {
	float: left;
	font-size: 2.2em;
	margin-right: 6px;
	margin-top: -30px;
	margin-left: -30px;
}



/**
 * Dashboard profile
 */
.dashboard .col-auto {
	float: left;
	width: auto;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.dashboard .profile .pin {
	position: absolute;
	top: 2px;
	right: 17px;
	z-index: 100;
}
.dashboard .profile .pin .icon {
	font-size: 0.8em !important;
}
.dashboard .profile .pin .text {
	padding-right: 2px;
}

.dashboard .profile .subtitle {
	margin-top: -10px;
}

.dashboard .profile .graphs section {
	margin: 0px;
	padding: 0px;
	height: 60px;
	width: 100%;
}
.dashboard .profile .graphs svg {
	height: 100%;
	width: 100%;
}

.dashboard .profile-hardware-menu {
	min-width: 280px;
	margin-top: 2px;
}
.dashboard .profile-hardware-menu .list-group-item h5 + p {
	padding-top: 4px;
}
.dashboard .profile-hardware-menu b {
	padding-left: 10px;
}


/**
 * Dashboard control
 */
.dashboard .ctrl a .text {
	padding-left: 4px;
}



/*
 * Graphs
 */
.sequence-graph {
	margin: 0px !important;
	height: 60px;
	width: 100%;
	display: block;
}
.indicator-graph {
	margin: 0px !important;
	height: 100%;
	min-height: 40px;
	width: 100%;
	display: block;
}