<button type="button" class="btn btn-primary link link-dashboard animate-show" ui-sref="dashboard" ui-sref-active="active">
	<div class="fa fa-tachometer" aria-hidden="true"></div> Dashboard
</button>

<!--
<button type="button" class="btn btn-link link link-sequence" ng-model="sequenceCheck" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-show="hasSelectedProfile()" ng-disabled="! hasSelectedProfile()">
	<div class="fa fa-text-width" aria-hidden="true"></div> Sequence
</button>
-->

<div class="details">
	<a type="button" href="#/detail/{{category.cat}}/{{encodeSelectedProfile()}}" class="btn btn-primary link link-detail animate-show" ng-repeat="category in categories" ng-disabled="! hasSelectedProfile()" ng-disabled="! hasSelectedProfile()">
		<div class="fa fa-{{category.icon}} fa-2x"></div> {{category.label}}
	</a>
</div>