test
<div class="btn-toolbar-vertical">
	<a href="#/dashboard" class="btn btn-default" popover="Go back to dashboard" popover-trigger="mouseenter" popover-placement="right">
		<i class="fa fa-reply-all fa-2x"></i>
	</a>

	<div class="btn-group-vertical">
		<a class="btn {{sequenceCheck | iif : 'btn-info' : 'btn-default'}}" ng-model="sequenceCheck" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" popover="Refine sequence" popover-trigger="mouseenter" popover-placement="right">
			<i class="fa fa-text-width fa-2x"></i>
		</a>
		<a class="btn {{facetCheck | iif : 'btn-info' : 'btn-default'}}" ng-model="facetCheck" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" popover="Refine data" popover-trigger="mouseenter" popover-placement="right">
			<i class="fa fa-filter fa-2x"></i>
		</a>
	</div>
	
	<div class="btn-group-vertical">
		<a href="#/detail/{{d.cat}}/{{meta.ids}}" class="btn {{ meta.cat != d.cat | iif : 'btn-default' : 'btn-info disabled'}}" ng-repeat="d in details" popover="{{d.label}}" popover-trigger="mouseenter" popover-placement="right">
			<i class="fa fa-{{d.icon}} fa-2x"></i>
		</a>
	</div>
</div>