/*
 * Sidebar
 */
 /*
.sidebar i {
	width: 26px;
}
.sidebar div, .sidebar a {
	width: 100%;
}
*/
#sidebar {
	overflow-y: visible;
	background: #000000;
	transition: all 0.2s ease;
}

.sidebar .link {
	width: 220px;
	height: 60px;
	margin: 0px;
	padding: 0px 20px;
	text-align: left;
	line-height: 60px;
	outline: 0 !important;
}

.sidebar .link div {
	display: inline-block;
	width: 26px;
	height: 26px;
	font-size: 2em;
	margin-right: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
}

.sidebar .link-dashboard {
	margin-top: 20px;
	transition: all 0.2s ease;
}

.sidebar .details {
	margin-top: 232px;
	transition: all 0.2s ease;
}

.sidebar .link-detail {
	margin-top: 1px;
	transition: all 0.2s ease;
}


/* MIN */
.min .sidebar .link {
	width: 60px;
}
.min .sidebar .link span {
	display: none;
}
.min .sidebar .details {
	margin-top: 10px;
}
.min .sidebar .link-detail {
	margin-top: 4px;
}


/* MIN - Hover */
.min .sidebar:hover .link {
	width: 220px;
}
.min .sidebar:hover .link span {
	display: inline-block;
}


/* ANIMATION */
.link.ng-hide-add, .link.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}

.link.ng-hide-add-active,
.link.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.link.ng-hide-add { }
.link.ng-hide-add.ng-hide-add-active { }
.link.ng-hide-remove { }
.link.ng-hide-remove.ng-hide-remove-active { }