<style>
	.admin .tab-title {
		float: left;
		padding: 0px 20px;
		line-height: 40px;
		color: #222222;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 32px;
		font-weight: 300;
		cursor: default;
	}
	.admin .tab-content {
		padding-top: 20px;
	}
</style>
<div class="row admin"><div class="col-xs-12">
<tabset>
	<span class="tab-title">Admin area</span>
	<tab>
		<tab-heading><i class="fa fa-history"></i> Changelog</tab-heading>
		<div class="row">
		
		<div class="col-sm-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Roadmap</h3></div>
			<div class="panel-body">
				<h4>Soon</h4>
				<ul>
					<li><b>DS:</b> last graph : cache line invalidation</li>
					<li><b>LB:</b> non-sequential graph</li>
					<li><b>LB:</b> chain of data dependencies graph</li>
					<li><b>DL:</b> last graph : parrallel coordinates</li>
					<li><b>RS:</b> everything</li>
				</ul>
				<h4>Postponed</h4>
				<ul>
					<li><b>TG:</b> rework the life states of threads</li>
					<li>sequence selection (choose starting and ending time for each profile)</li>
					<li>refine by threads (unselect)</li>
				</ul>
				<h4>Abandoned</h4>
				<ul>
					<li>I/O category ⇐ no data</li>
					<li>drill-down option for graphs<br/>i.e. overview → by core/threads</li>
				</ul>
			</div>
		</div>
		</div>
		
		<div class="col-sm-9">
		<accordion close-others="false">
			<accordion-group heading="0.8 - August 2015" is-open="true">
				<p><span class="label label-success">Dashboard</span><ul>
					<li>working on new version focused on the problem's taxonomy</li>
				</ul></p>
				<!--<p><span class="label label-success">Synchronisation</span> new lock lifetime graph</p>-->
				<p><span class="label label-primary">Graphs</span> add handling Idle core state</p>
				<p><span class="label label-primary">Data</span> add handling Idle core state</p>
				<p><span class="label label-default">General</span><ul>
					<li>add cache version display</li>
				</ul></p>
			</accordion-group>
			<accordion-group heading="0.7 - July 2015">
				<p><span class="label label-success">Dashboard</span><ul>
					<li>New stip graphs for profiling</li>
					<li>New gauge graphs for indicators</li>
				</ul></p>
				<p><span class="label label-success">Synchronisation</span> select graphs: success/failures and the first lock contentions</p>
				<p><span class="label label-warning">Graphs</span> replace switches and migrations graphs by a new better one (correct a graphical bug, less code to maintain ^^)</p>
				<p><span class="label label-primary">Graphs</span><ul>
					<li><b>X axis:</b> display in seconds with the time unit</li>
					<li><b>legend:</b> merge legend and data tabs (aside part)</li>
				</ul></p>
				<p><span class="label label-default">General</span><ul>
					<li>add changelog</li>
					<li>add a disclaimer in the dashboard</li>
					<li>add a link to 'motivations' document</li>
					<li>experiment overlay information for dashboard indicators</li>
					<li>add duration comparison on dashboard</li>
				</ul></p>
			</accordion-group>
			<accordion-group heading="0.6 - June 2015">
				<p><span class="label label-success">Task granularity</span> new potential parallelism graph (running and ready)</p>
				<p><span class="label label-success">Synchronisation</span> new graphs</p>
				<p><span class="label label-primary">brushing</span> basic cross selection (among all graphs)</p>
				<p><span class="label label-primary">Graphs</span> add settings for some graphs</p>
				<p><span class="label label-default">profiles</span><ul>
					<li>new profiles : Philosopher dinner and Producers/Consumers</li>
					<li>old profiles are hidden but still accessible</li>
				</ul></p>
			</accordion-group>
		</accordion>
		</div>
		
		</div>
	</tab>
	<tab>
		<tab-heading><i class="fa fa-sliders"></i> Global Settings</tab-heading>
		TODO
	</tab>
	<tab select="loadCacheVersions()">
		<tab-heading><i class="fa fa-database"></i> Cache versions</tab-heading>
		<div ng-if="! versions_loaded" class="jumbotron"><p>
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-spinner fa-pulse fa-stack-1x fa-inverse"></i>
			</span>
			<strong>Retrieving data...</strong>
		</p></div>
		<div ng-if="versions_loaded" class="row">
			<div class="col-sm-3">
				<div class="jumbotron"><p>Expected version: <span class="text-primary">{{versions_expected}}</span></p></div>
				<button type="button" class="btn btn-default" ng-click="reloadCacheVersions()" ng-disabled="waiting"><i class="fa fa-refresh"></i> reload data</button>
			</div>
			
			<div class="col-sm-3">
				<table class="table table-striped table-hover" style="width: auto;">
					<thead><tr>
						<th>#</th>
						<th>title</th>
						<th>cache version</th>
						<th>rebuild cache</th>
					</tr></thead>
					<tbody style="text-align: center;"><tr ng-repeat="profile in profiles" ng-class="{success: versions[profile.id] == versions_expected}">
						<td>{{profile.id}}</td>
						<td>{{profile.label}}</td>
						<td>{{renderVersion(profile)}}</td>
						<td ng-if="profile.disabled">non-working profile</td>
						<td ng-if="!profile.disabled">TODO</td>
					</tr></tbody>
				</table>
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading><i class="fa fa-table"></i> Raw data</tab-heading>
		TODO
	</tab>
	<!--
	<tab active='true'>
		<tab-heading><i class="fa fa-flask"></i> Experiments</tab-heading>
		<div class="experiments{{needToBlur | iif : ' blur' : ''}}" ng-init="needToBlur = false">
		
		</div>
	</tab>
	-->
	<div ng-if="isWaiting()" style="display: inline-block; margin-left: 5px; margin-top: 5px;">
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
	</div>
</tabset>

</div></div>