<style>
	.admin .tab-title {
		float: left;
		padding: 0px 20px;
		line-height: 40px;
		color: #222222;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 32px;
		font-weight: 300;
		cursor: default;
	}
	.admin .tab-content {
		padding-top: 20px;
	}
</style>
<uib-tabset>
	<span class="tab-title">Admin area</span>
	<uib-tab disable="isWaiting()">
		<uib-tab-heading><i class="fa fa-history"></i> Changelog</uib-tab-heading>
		<div class="row">
		
		<div class="col-sm-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Roadmap</h3></div>
			<div class="panel-body">
				<h4>Soon</h4>
				<ul>
					<li><b>Missing data</b></li>
					<li><b>Dashboard:</b> populate last indicators</li>
					<li>20+ missing features</li>
				</ul>
				<h4>Postponed</h4>
				<ul>
					<li><b>DS:</b> last graph : cache line invalidation</li>
					<li>sequence selection (choose starting and ending time for each profile)</li>
					<li>refine by threads (unselect)</li>
				</ul>
				<h4>Abandoned</h4>
				<ul>
					<li>I/O category ⇐ no data</li>
					<li>drill-down option for graphs<br/>i.e. overview → by core/threads</li>
				</ul>
			</div>
		</div>
		</div>
		
		<div class="col-sm-9">
		<uib-accordion close-others="false">
			<uib-accordion-group heading="0.13 - February 2016" is-open="true">
				<p><span class="label label-primary">Graphs</span><ul>
					<li>fix missing focus for Idle Core graph</li>
				</ul></p>
				<p><span class="label label-info">UI</span><ul>
					<li>add Welcome page (and simplify Dashboard)</li>
					<li>improve the links in the navigation bar</li>
					<li>change tabs, dropdown, acordion and radio buttons (library new version)</li>
				</ul></p>
				<p><span class="label label-default">application</span><ul>
					<li>support direct access on Dashboard for future experiments</li>
					<li>deactivate settings page (and cookies handling)</li>
					<li>improve Bower configuration (libraries, dependencies)</li>
				</ul></p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.12 - February 2016">
				<p><span class="label label-warning">Dash</span><ul>
					<li>add new parallelisation percent and profile</li>
					<li>add new gauges</li>
				</ul></p>
				<p><span class="label label-primary">Graphs</span><ul>
					<li>log₂ scale for unit graph</li>
					<li>choose scale for unit graph</li>
					<li><b>typical value:</b> add to graph</li>
					<li><b>typical value:</b> change by settings</li>
					<li><b>typical value:</b> details in legend</li>
					<li>same scale when couting events</li>
				</ul></p>
				<p><span class="label label-success">Synchronisation</span><ul>
					<li>improve the wait-for-lock graph</li>
				</ul></p>
				<p><span class="label label-warning">Graphs</span> add pins and labels on focus (mouse hover)<ul>
					<li>no more overlapping</li>
					<li><b>Task granularity:</b> 75% done</li>
					<li><b>Synchronisation:</b> 66% done</li>
					<li><b>Data sharing:</b> 100% done (still missing one graph)</li>
					<li><b>Load balancing:</b> 50% done</li>
				</ul></p>
				<p><span class="label label-primary">Data</span> contextual data on focus (mouse hover)<ul>
					<li><b>other graphs:</b> 0% done</li>
				</ul></p>
				<p><span class="label label-default">application</span><ul>
					<li>update data caching</li>
					<li>fix blank pages (removing download cache)</li>
				</ul></p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.11 - December 2015">
				<p><span class="label label-warning">Graphs</span> add pins and labels on focus (mouse hover)<ul>
					<li><b>Task granularity:</b> 75% done</li>
					<li><b>Synchronisation:</b> 66% done</li>
					<li><b>Data sharing:</b> 100% done (still missing one graph)</li>
					<li><b>Load balancing:</b> 50% done</li>
					<li><b>Data locality:</b> 100% done</li>
				</ul></p>
				<p><span class="label label-primary">Data</span> contextual data on focus (mouse hover)<ul>
					<li><b>stack graphs:</b> 100% done</li>
					<li><b>event graphs:</b> 100% done</li>
					<li><b>other graphs:</b> 0% done</li>
					<li><b>d3 graphs:</b> not relevant</li>
				</ul></p>
				<p><span class="label label-primary">Graphs</span> huge clean-up and optimisations</p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.10 - October 2015">
				<p><span class="label label-success">Data locality</span><ul>
					<li>add parallel coordinates</li>
					<li>improve parallel coordinates interactions</li>
				</ul></p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.9 - September 2015">
				<p><span class="label label-success">Load balancing</span><ul>
					<li>new sequential/parallel sequences graph</li>
				</ul></p>
				<p><span class="label label-default">Data</span><ul>
					<li>add philosopher dinning 5 and update 45</li>
				</ul></p>
				<p><span class="label label-primary">Stats</span> add percentage view mode in addition of the sum view mode</p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.8 - August 2015">
				<p><span class="label label-success">Dashboard</span><ul>
					<li>working on new version focused on the problem's taxonomy</li>
					<li>adding very basic sequence graph</li>
				</ul></p>
				<p><span class="label label-success">Task granularity</span><ul>
					<li>new thread migration lifetime graph</li>
					<li>add migration density by thread</li>
					<li>add core attachment of threads</li>
				</ul></p>
				<p><span class="label label-success">Synchronisation</span> new lock lifetime graph</p>
				<p><span class="label label-success">Load balancing</span><ul>
					<li>add core idle graph (very simple)</li>
					<li>problem with non-sequential graph, add running graph (very simple) instead</li>
					<li>create new graph for chain of data dependencies (basic one at the moment)</li>
				</ul></p>
				<p><span class="label label-primary">Graphs</span> add handling Idle core state</p>
				<p><span class="label label-primary">Data</span> add handling Idle core state</p>
				<p><span class="label label-default">General</span><ul>
					<li>add cache version display</li>
					<li>can rebuild cache of profiles</li>
				</ul></p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.7 - July 2015">
				<p><span class="label label-success">Dashboard</span><ul>
					<li>New strip graphs for profiling</li>
					<li>New gauge graphs for indicators</li>
				</ul></p>
				<p><span class="label label-success">Synchronisation</span> select graphs: success/failures and the first lock contentions</p>
				<p><span class="label label-warning">Graphs</span> replace switches and migrations graphs by a new better one (correct a graphical bug, less code to maintain ^^)</p>
				<p><span class="label label-primary">Graphs</span><ul>
					<li><b>X axis:</b> display in seconds with the time unit</li>
					<li><b>legend:</b> merge legend and data tabs (aside part)</li>
				</ul></p>
				<p><span class="label label-default">General</span><ul>
					<li>add changelog</li>
					<li>add a disclaimer in the dashboard</li>
					<li>add a link to 'motivations' document</li>
					<li>experiment overlay information for dashboard indicators</li>
					<li>add duration comparison on dashboard</li>
				</ul></p>
			</uib-accordion-group>
			<uib-accordion-group heading="0.6 - June 2015">
				<p><span class="label label-success">Task granularity</span> new potential parallelism graph (running and ready)</p>
				<p><span class="label label-success">Synchronisation</span> new graphs</p>
				<p><span class="label label-primary">brushing</span> basic cross selection (among all graphs)</p>
				<p><span class="label label-primary">Graphs</span> add settings for some graphs</p>
				<p><span class="label label-default">profiles</span><ul>
					<li>new profiles : Philosopher dinner and Producers/Consumers</li>
					<li>old profiles are hidden but still accessible</li>
				</ul></p>
			</uib-accordion-group>
		</uib-accordion>
		</div>
		
		</div>
	</uib-tab>
	<uib-tab disable="isWaiting()" select="loadCacheVersions()">
		<uib-tab-heading><i class="fa fa-database"></i> Cache versions</uib-tab-heading>
		<div ng-if="! versions_loaded" class="jumbotron"><p>
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-spinner fa-pulse fa-stack-1x fa-inverse"></i>
			</span>
			<strong>Retrieving data...</strong>
		</p></div>
		<div ng-if="versions_loaded" class="row">
			<div class="col-sm-4">
				<div class="jumbotron">
					<p>Expected data version: <span class="text-primary">{{versions_expected}}</span></p>
					<p><button type="button" class="btn btn-info" ng-click="reloadCacheVersions()" ng-disabled="waiting"><i class="fa fa-refresh"></i> refresh data</button></p>
				</div>
				<button type="button" class="btn btn-danger" ng-click="resetCache('all')" ng-disabled="waiting"><i class="fa fa-eraser"></i> Force rebuild all caches</button>
			</div>
			
			<div class="col-sm-4">
				<h2>Profiles with locks <span class="text-muted">(v4)</span></h2>
				<uib-table class="table table-striped table-hover">
					<thead><tr>
						<th>#</th>
						<th></th>
						<th>cache version</th>
						<th>rebuild cache</th>
					</tr></thead>
					<tbody style="text-align: center;"><tr ng-repeat="profile in profiles | v4" ng-class="{success: versions[profile.id] == versions_expected}">
						<td>{{profile.id}}</td>
						<td>{{profile.label}}<span ng-if="profile.disabled"> <span class="text-muted">[disabled]</span></span></td>
						<td>{{renderVersion(profile)}}<span ng-if="versions[profile.id] == versions_expected"> ✔</span></td>
						<td ng-if="profile.disabled">raw data missing</td>
						<td ng-if="!profile.disabled">
							<button ng-if="versions[profile.id] != versions_expected" type="button" class="btn btn-xs btn-success" ng-disabled="waiting" ng-click="resetCache(profile.id)">build cache</button>
							<button ng-if="versions[profile.id] == versions_expected" type="button" class="btn btn-xs btn-warning" ng-disabled="waiting" ng-click="resetCache(profile.id)">force rebuild</button>
						</td>
					</tr></tbody>
				</table>
			</div>
			
			<div class="col-sm-4">
				<h2>Profiles without locks <span class="text-muted">(v3)</span></h2>
				<uib-table class="table table-striped table-hover">
					<thead><tr>
						<th>#</th>
						<th></th>
						<th>cache version</th>
						<th>rebuild cache</th>
					</tr></thead>
					<tbody style="text-align: center;"><tr ng-repeat="profile in profiles | v3" ng-class="{success: versions[profile.id] == versions_expected}">
						<td>{{profile.id}}</td>
						<td>{{profile.label}}<span ng-if="profile.disabled"> <span class="text-muted">[disabled]</span></span></td>
						<td>{{renderVersion(profile)}}<span ng-if="versions[profile.id] == versions_expected"> ✔</span></td>
						<td ng-if="profile.disabled">raw data missing</td>
						<td ng-if="!profile.disabled">
							<button ng-if="versions[profile.id] != versions_expected" type="button" class="btn btn-xs btn-success" ng-disabled="waiting" ng-click="resetCache(profile.id)">build cache</button>
							<button ng-if="versions[profile.id] == versions_expected" type="button" class="btn btn-xs btn-warning" ng-disabled="waiting" ng-click="resetCache(profile.id)">force rebuild</button>
						</td>
					</tr></tbody>
				</table>
			</div>
		</div>
	</uib-tab>
	<uib-tab disable="isWaiting()" select="loadStats()">
		<uib-tab-heading><i class="fa fa-table"></i> Raw data</uib-tab-heading>
		<div ng-if="! stats_loaded" class="jumbotron"><p>
			<span class="block-icon fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-spinner fa-pulse fa-stack-1x fa-inverse"></i>
			</span>
			<strong>Retrieving data...</strong>
		</p></div>
		<div ng-if="stats_loaded" class="row">
			<div class="col-sm-12">
				<button type="button" class="btn btn-info" ng-click="reloadStats()" ng-disabled="waiting"><i class="fa fa-refresh"></i> refresh statistics</button>
				<!--<button type="button" class="btn btn-danger" ng-click="resetCache('all')" ng-disabled="waiting"><i class="fa fa-eraser"></i> Force rebuild all caches</button>-->
			</div>
			<div class="col-sm-6">
				<h2>Context switches &amp; migrations</h2>
				<uib-table class="table table-striped table-hover">
					<thead><tr>
						<th>#</th>
						<th></th>
						<th>cache version</th>
						<th># switches</th>
						<th>switches / core / ms</th>
						<th># migrations</th>
						<th>migrations / core / ms</th>
					</tr></thead>
					<tbody style="text-align: center;"><tr ng-repeat="profile in profiles | enabled">
						<td>{{profile.id}}</td>
						<td>
							{{profile.label}}
							<span ng-if="isExclude(profile, p_exclude_sm)" class="text-danger">✘</span>
							<span ng-if="profile.disabled" class="text-muted">[disabled]</span>
						</td>
						<td>{{renderVersion_stats(profile)}}</td>
						<td>{{stats.s[profile.id]}}</td>
						<td>{{mean(profile, 's', 100)}}</td>
						<td>{{stats.m[profile.id]}}</td>
						<td>{{mean(profile, 'm', 100)}}</td>
					</tr><tr class="info" style="font-weight: bold;">
						<td colspan="4">average</td>
						<td>{{average('s', 1000)}}</td>
						<td></td>
						<td>{{average('m', 1000)}}</td>
					</tr><tr class="info" style="font-weight: bold;">
						<td colspan="4">average without serials, P/C</td>
						<td>{{average('s', 1000, p_exclude_sm)}}</td>
						<td></td>
						<td>{{average('m', 1000, p_exclude_sm)}}</td>
					</tr><tr class="success" style="font-weight: bold;">
						<td colspan="4">choosen calibration</td>
						<td>{{profiles[0].hardware.calibration.s}}</td>
						<td></td>
						<td>{{profiles[0].hardware.calibration.m}}</td>
					</tr></tbody>
				</table>
			</div>
			
			<div class="col-sm-6">
				<h2>Lock aquisitions</h2>
				<uib-table class="table table-striped table-hover">
					<thead><tr>
						<th>#</th>
						<th></th>
						<th>cache version</th>
						<th># success</th>
						<th>success / core / ms</th>
						<th># failure</th>
						<th>failure / core / ms</th>
					</tr></thead>
					<tbody style="text-align: center;"><tr ng-repeat="profile in profiles | v4">
						<td>{{profile.id}}</td>
						<td>{{profile.label}}<span ng-if="profile.disabled"> <span class="text-muted">[disabled]</span></span></td>
						<td>{{renderVersion_stats(profile)}}</td>
						<td>{{stats.ls[profile.id]}}</td>
						<td>{{mean(profile, 'ls', 100)}}</td>
						<td>{{stats.lf[profile.id]}}</td>
						<td>{{mean(profile, 'lf', 100)}}</td>
					</tr><tr class="info" style="font-weight: bold;">
						<td colspan="4">average</td>
						<td>{{average('ls', 10000)}}</td>
						<td></td>
						<td>{{average('lf', 10000)}}</td>
					</tr><tr class="success" style="font-weight: bold;">
						<td colspan="4">choosen calibration</td>
						<td>{{profiles[0].hardware.calibration.ls}}</td>
						<td></td>
						<td>{{profiles[0].hardware.calibration.lf}}</td>
					</tr></tbody>
				</table>
			</div>
		</div>
	</uib-tab>
	<div ng-if="isWaiting()" style="display: inline-block; margin-left: 5px; margin-top: 5px;">
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
	</div>
</uib-tabset>