<table class="table table-striped table-hover table-legend" ng-init="stats = createStats(widget)">
	<thead>
		<tr ng-if="profiles.length == 1">
			<th colspan="3">&nbsp;</th>
		</tr>
		<tr ng-if="profiles.length == 2">
			<th>&nbsp;</th>
			<th>{{profiles[0].label}}</th>
			<th colspan="2">
				<div class="btn-group btn-group-xs">
					<label class="btn btn-default" ng-model="stats.mode" btn-radio="'units'" uncheckable>Σ</label>
					<label class="btn btn-default" ng-model="stats.mode" btn-radio="'percent'" uncheckable>%</label>
				</div>
			</th>
			<th>{{profiles[1].label}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(i, e) in widget.deck.data | reverse" ng-init="iMax = widget.deck.data.length">
			<td class="legend-col-label">
				<span class="legend-dot" style="color: {{e.color}}">▮</span>
				<strong>{{e.label}}</strong>
			</td>
			<td class="legend-col-p1">{{stats.values[0][iMax - i - 1].label1}}<br/>{{stats.values[0][iMax - i - 1].label2}}</td>
			<td class="legend-col-stats" class="container-graph" rowspan="{{widget.deck.data.length}}" colspan="{{profiles.length}}" ng-if="i == 0">
				<chart-stats class="integrated-graph"></chart-stats>
			</td>
			<td class="legend-col-p2" ng-if="profiles.length >= 2">{{stats.values[1][iMax - i - 1].label1}}<br/>{{stats.values[1][iMax - i - 1].label2}}</td>
		</tr>
		<!--
		<tr ng-repeat="(i, e) in widget.deck.legend">
			<td class="legend-col-label" colspan="{{1 + 2 * profiles.length}}">
				<span class="legend-dot" style="color: {{e.color}}" ng-if="e.colors == null">▮</span>
				<span class="legend-dot" ng-if="e.colors != null">
					<span style="color: {{e.colors[0]}}">◤</span>
					<span style="color: {{e.colors[1]}}">◢</span>
				</span>
				<strong>{{e.label}}</strong>
			</td>
		</tr>
		-->
	</tbody>
</table>