<table class="table table-striped table-hover table-legend" ng-init="stats = createStats(widget)">
	<thead>
		<tr ng-if="profiles.length == 1">
			<th colspan="3"><span class="label label-focus table-legend-label">{{stats.focusLabel}}</span></th>
		</tr>
		<tr ng-if="profiles.length == 2">
			<th><span class="label label-focus table-legend-label">{{stats.focusLabel}}</span></th>
			<th>{{profiles[0].label}}</th>
			<th colspan="2" class="table-legend-col-stats-compare">
				<div class="btn-group btn-group-xs" ng-show="stats.deck.length > 1" uib-tooltip="choose the comparison method between stacked usage values (Σ) or usage distribution (%)">
					<label class="btn btn-default" ng-model="stats.mode" uib-btn-radio="'units'" uncheckable>Σ</label>
					<label class="btn btn-default" ng-model="stats.mode" uib-btn-radio="'percent'" uncheckable>%</label>
				</div>
			</th>
			<th>{{profiles[1].label}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(i, e) in stats.deck">
			<td class="legend-col-label">
				<span class="legend-dot" style="color: {{e.color}}">▮</span>
				<strong>{{e.label}}</strong>
			</td>
			<td class="legend-col-p1">{{stats.values1[0][i]}}<br/>{{stats.values2[0][i]}}</td>
			<td class="legend-col-stats" class="container-graph" rowspan="{{stats.deck.length}}" colspan="{{profiles.length}}" ng-if="$first">
				<chart-stats class="integrated-graph"></chart-stats>
			</td>
			<td class="legend-col-p2" ng-if="profiles.length >= 2">{{stats.values1[1][i]}}<br/>{{stats.values2[1][i]}}</td>
		</tr>
	</tbody>
</table>