<dev ng-if="radioModel == 1">
	<chart-percent class="widget-graph"></chart-percent>
</dev>

<dev ng-if="radioModel == 2">
	<chart-cache-misses class="widget-graph widget-detail" profileid="{{ids[0]}}" begin="{{data.c.timeMin}}" end="{{data.c.duration}}" title="{{profiles[0].label}}"></chart-cache-misses>
	<chart-cache-misses class="widget-graph widget-detail" ng-if="ids.length >= 2" profileid="{{ids[1]}}" begin="{{data.c.timeMin}}" end="{{data.c.duration}}" title="{{profiles[1].label}}"></chart-cache-misses>
</dev>

<p>&nbsp;</p>
<div class="btn-group" ng-init="radioModel = 1">
	<label class="btn btn-default" ng-model="radioModel" btn-radio="1" uncheckable>New version</label>
	<label class="btn btn-default" ng-model="radioModel" btn-radio="2" uncheckable>First version</label>
</div>