<tabset>
	<h4>{{widget.title}}</h4>
	<tab>
		<tab-heading><i class="fa fa-bar-chart"></i> graph</tab-heading>
	</tab>
	<tab disable="true">
		<tab-heading><i class="fa fa-info-circle"></i> legend</tab-heading>
	</tab>
	<tab disable="true">
		<tab-heading><i class="fa fa-medkit"></i> help</tab-heading>
	</tab>
	<tab disable="true">
		<tab-heading><i class="fa fa-sliders"></i> settings</tab-heading>
	</tab>
</tabset>
<div class="jumbotron">
	<h1><i class="fa fa-database"></i> Data missing !</h1>
	<p><span ng-repeat="profile in profiles">
		<br ng-if="$index > 0" />
		<i class="fa fa-check text-info" ng-if="widget.v <= profile.version"></i>
		<i class="fa fa-times text-danger" ng-if="widget.v > profile.version" style="width: 23px; text-align: center;"></i>
		{{profile.label}}
		<span ng-if="widget.v > profile.version && profiles.length == 2">(<a ui-sref='detail({cat: meta.tag, ids: profiles[1 - $index].id})'>unselect</a>)</span>
	</span></p>
</div>