<p>New version:</p>
<chart-thread-states class="widget-graph" ng-attr-crenellate="false"></chart-thread-states>

<p>Crenelated:</p>
<chart-thread-states class="widget-graph" ng-attr-crenellate="true"></chart-thread-states>

<p>Old version:</p>
<chart-thread-divergence-with-real-data class="widget-graph widget-detail" profileid="{{ids[0]}}" begin="{{data.c.timeMin}}" end="{{data.c.duration}}" title="{{profiles[0].label}}"></chart-thread-divergence-with-real-data>
<chart-thread-divergence-with-real-data class="widget-graph widget-detail" ng-if="ids.length >= 2" profileid="{{ids[1]}}" begin="{{data.c.timeMin}}" end="{{data.c.duration}}" title="{{profiles[1].label}}"></chart-thread-divergence-with-real-data>
<chart-thread-divergence class="widget-graph widget-detail" profileid="{{ids[0]}}" begin="{{data.c.timeMin}}" end="{{data.c.duration}}" title="{{profiles[0].label}}"></chart-thread-divergence>
<chart-thread-divergence class="widget-graph widget-detail" ng-if="ids.length >= 2" profileid="{{ids[1]}}" begin="{{data.c.timeMin}}" end="{{data.c.duration}}" title="{{profiles[1].label}}"></chart-thread-divergence>