<div class="row">
	<div class="col-xs-{{layout.col.graph}} profile-graph">
		<chart-thread-switches class="widget-graph widget-band" profileid="{{ids[0]}}" timestart="{{data.c.timeMin}}" timeend="{{data.c.duration}}" title="{{profiles[0].label}}"></chart-thread-switches>
		<chart-thread-switches class="widget-graph widget-band" ng-if="ids.length >= 2" profileid="{{ids[1]}}" timestart="{{data.c.timeMin}}" timeend="{{data.c.duration}}" title="{{profiles[1].label}}"></chart-thread-switches>
	</div>
	<div class="col-xs-{{layout.col.data}} profile-data">
		<!--
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th></th>
					<th colspan="2" ng-repeat="profile in profiles">{{profile.label}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: right;">{{chartSets.switches[0].desc}} <font style="color: {{chartSets.switches[0].color}}">▮</font></td>
					<td style="text-align: right;">{{data[profiles[0].id].stats[chartSets.switches[0].cat][chartSets.switches[0].attr] | number: 0}}</td>
					<td style="text-align: center;" class="container-graph" colspan="{{profiles.length}}">
						<chart-stats class="integrated-graph" set="switches"></chart-stats>
					</td>
					<td style="text-align: right;" ng-if="profiles.length >= 2">{{data[profiles[1].id].stats[chartSets.switches[0].cat][chartSets.switches[0].attr] | number: 0}}</td>
				</tr>
			</tbody>
		</table>
		-->
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th></th>
					<th colspan="2" ng-repeat="profile in profiles">{{profile.label}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: right;">{{chartSets.switches[1].desc}} <font style="color: {{chartSets.switches[1].color}}">▮</font></td>
					<td style="text-align: right;">{{data[profiles[0].id].stats[chartSets.switches[1].cat][chartSets.switches[1].attr] | number: 0}}</td>
					<td style="text-align: center;" class="container-graph" colspan="{{profiles.length}}" rowspan="2">
						<chart-stats class="integrated-graph" set="switches"></chart-stats>
					</td>
					<td style="text-align: right;" ng-if="profiles.length >= 2">{{data[profiles[1].id].stats[chartSets.switches[0].cat][chartSets.switches[1].attr] | number: 0}}</td>
				</tr>
				<tr>
					<td style="text-align: right;">{{chartSets.switches[0].desc}} <font style="color: {{chartSets.switches[0].color}}">▮</font></td>
					<td style="text-align: right;">{{data[profiles[0].id].stats[chartSets.switches[0].cat][chartSets.switches[0].attr] | number: 0}}</td>
					<td style="text-align: right;" ng-if="profiles.length >= 2">{{data[profiles[1].id].stats[chartSets.switches[0].cat][chartSets.switches[0].attr] | number: 0}}</td>
				</tr>
			</tbody>
		</table>
		<p ng-model="helpThreadDivergence1" ng-mouseover="helpThreadDivergence1 = true" ng-mouseleave="helpThreadDivergence1 = false">
			<span class="label label-primary">help</span> clues about troubleshooting
		</p>
		<ul class="list-unstyled" style="font-size: 0.85em;" ng-show="helpThreadDivergence1">
			<li><font style="color: {{chartSets.switches[0].color}}">▮</font> <strong>Oversubscription</strong>: high frequency</li>
		</ul>
	</div>
</div>