<tabset>
	<h4>{{widget.title}}</h4>
	<div class="btn-group btn-group-sm" ng-if="widget.deck.modes">
		<label ng-repeat="mode in widget.deck.modes" class="btn btn-default" ng-model="widget.mode" btn-radio="mode.id" uncheckable>{{mode.label}}</label>
	</div>
	<tab disable="!widget.desc">
		<tab-heading><i class="fa fa-info"></i> description</tab-heading>
		<p>{{widget.desc}}</p>
	</tab>
	<tab active="true">
		<tab-heading><i class="fa fa-bar-chart"></i> legend</tab-heading>
		<div class="row">
			<div class="col-sm-5">
				<!--<h5>Axis:</h5>-->
				<facet-list list="widget.deck.legend.axis" prelist="axisList"></facet-list>
			</div>
			<div class="col-sm-7">
				<!--<h5>Data shown:</h5>-->
				<facet-list list="widget.deck.legend.data"></facet-list>
			</div>
		</div>
	</tab>
	<tab disable="widget.deck.clues.length == 0">
		<tab-heading><i class="fa fa-medkit"></i> diagnostic</tab-heading>
		<!--<p class="clues-label">
			Clues about troubleshooting:
		</p>-->
		<facet-list list="widget.deck.clues"></facet-list>
	</tab>
	<tab disable="widget.deck.settings.length == 0">
		<tab-heading><i class="fa fa-sliders"></i> settings</tab-heading>
		<div class="form-horizontal settings">
			<div class="form-group" ng-repeat="setting in widget.deck.settings">
				<label class="col-sm-2 control-label">{{setting.label}}</label>
				<div class="col-sm-10" ng-if="setting.type == 'flag'">
					<div class="checkbox checkbox-info">
						<input id="setting-input-{{widget.id}}{{$index}}" type="checkbox" ng-model="widget.settings[setting.property]" ng-disabled="widget.settings[setting.depends] === false" />
						<label for="setting-input-{{widget.id}}{{$index}}">{{setting.desc}}</label>
					</div>
				</div>
				<div class="col-sm-10" ng-if="setting.type == 'range'">
					<div class="range range-primary">
						<input type="range" ng-model="widget.settings[setting.property]" min="{{setting.min}}" max="{{setting.max}}" step="{{setting.step}}" ng-disabled="widget.settings[setting.depends] === false" />
						<output>{{widget.settings[setting.property]}} {{setting.unit}}</output>
					</div>
				</div>
			</div>
		</div>
	</tab>
	<tab heading="hide"></tab>
</tabset>
<div class="profile-body" ng-include="'/details/widgets/' + widget.file + '.widget.html'"></div>