<uib-tabset>
	<h4>{{widget.title}}</h4>
	<div class="btn-group btn-group-sm" ng-if="widget.deck.plans" uib-tooltip="{{ widget.deck.plansTooltip || 'change the vertical scale (values)' }}">
		<label ng-repeat="mode in widget.deck.plans" class="btn btn-default" ng-model="widget.settings.plan" uib-btn-radio="$index" uncheckable>{{mode.label}}</label>
	</div>
	<uib-tab active="true">
		<uib-tab-heading><i class="fa fa-info"></i> info</uib-tab-heading>
		<div class="row">
			<div ng-if="widget.desc" class="col-sm-2">
				<small>{{widget.desc}}</small>
			</div>
			<div class="col-sm-5">
				<!--<h5>Axis:</h5>-->
				<facet-list list="widget.deck.legend.axis" prelist="axisList" options="widget.deck.legend.options" profiles="profiles" settings="widget.settings"></facet-list>
			</div>
			<div class="col-sm-5">
				<!--<h5>Data:</h5>-->
				<facet-list list="widget.deck.legend.data"></facet-list>
			</div>
		</div>
	</uib-tab>
	<uib-tab>
		<uib-tab-heading><i class="fa fa-stethoscope"></i> help</uib-tab-heading>
		<div class="clues">
			<div class="clue" ng-repeat="clue in widget.deck.clues" ng-if="! clue.for || clue.for == meta.cat">
				<div class="thumbnail">
					<img ng-if="clue.img" src="/assets/shapes/{{clue.img}}.png" alt="missing shape">
					<div ng-if="clue.f" class="clue-uniform" style="background-color: {{clue.f.colours.n}}">uniform color</div>
					<div class="caption">
						<p class="clue-title">{{clue.t}}</p>
						<p ng-if="clue.i"><i class="fa fa-fw fa-info text-info" aria-hidden="true"></i>{{clue.i}}</p>
						<p ng-if="clue.q"><i class="fa fa-fw fa-question text-info" aria-hidden="true"></i>{{clue.q}}</p>
					</div>
				</div>
			</div>
		</div>
	</uib-tab>
	<uib-tab ng-if="widget.deck.settings.length > 0">
		<uib-tab-heading><i class="fa fa-paint-brush"></i> customise</uib-tab-heading>
		<div class="form-horizontal settings">
			<div class="form-group" ng-repeat="setting in widget.deck.settings" ng-if="! setting.depends || widget.settings[setting.depends[0]] == setting.depends[1]">
				<label class="col-sm-2 control-label">{{::setting.label}}</label>
				<div class="col-sm-10" ng-if="setting.type == 'flag'">
					<div class="checkbox checkbox-info">
						<input id="setting-input-{{::widget.id}}{{::$index}}" type="checkbox" ng-model="widget.settings[setting.property]" />
						<label for="setting-input-{{::widget.id}}{{::$index}}">{{::setting.desc}}</label>
					</div>
				</div>
				<div class="col-sm-10" ng-if="setting.type == 'range'">
					<div class="range range-primary">
						<input type="range" ng-model="widget.settings[setting.property]" min="{{setting.min}}" max="{{setting.max}}" step="{{setting.step}}" />
						<output>{{widget.settings[setting.property]}} {{::setting.unit}}</output>
					</div>
				</div>
				<div class="col-sm-10" ng-if="setting.type == 'select'">
					<div class="btn-group btn-group-sm">
						<label ng-repeat="choice in setting.choices" class="btn btn-default" ng-model="widget.settings[setting.property]" uib-btn-radio="$index" uncheckable>{{choice}}</label>
					</div>
				</div>
				<div class="col-sm-10" ng-if="setting.type == 'pnumeric'">
					<div class="input-group" ng-repeat="profile in profiles">
						<span class="input-group-addon">{{::profile.label}}</span>
						<input type="number" class="form-control" min="0.001" step="0.001" ng-model="widget.settings[setting.property + $index]" />
						<span class="input-group-addon">{{::setting.unit}} by ms</span>
						<span class="input-group-addon">about {{widget.settings[setting.property + $index] * widget.settings.timeGroup | number : 2}} per {{widget.settings.timeGroup}} ms</span>
					</div>
				</div>
			</div>
		</div>
	</uib-tab>
	<uib-tab class="uib-tab-collapse-hide">
		<uib-tab-heading><i class="fa fa-eye-slash" uib-tooltip="collapse tabs"></i></uib-tab-heading>
	</uib-tab>
</uib-tabset>
<div class="profile-body" ng-include="'/details/widgets/' + widget.file + '.widget.html'"></div>