/*
 * Widgets
 */
.widgets h4 {
	float: left;
	margin-right: 40px;
}
.widgets .btn-group {
	float: left;
	margin-right: 40px;
}
.widgets .nav-tabs > li.active:not(:last-of-type) > a {
	background-color: #F9F9F9;
}
.widgets .nav-tabs > li:last-of-type > a {
	background-color: transparent !important;
	border-color: transparent transparent #DDD !important;
}
.widgets .tab-pane:not(:last-of-type) {
	padding: 10px 0px 15px 0px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #DDD;
}

/*
 * Charts D3
 */
.svg-d3 .axis .label {
	font-size: 120%;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.svg-d3 .axis .domain {
	fill: none;
	stroke: #C0C0C0;
	shape-rendering: crispedges;
}
.svg-d3 .axis .tick line {
	fill: none;
	stroke: #C0C0C0;
	shape-rendering: crispedges;
}
.svg-d3 .axis .tick text {
	fill: #606060;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.svg-d3 .svg-background path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}
.svg-d3 .svg-foreground path {
	fill: none;
	/*
	stroke: #8DD28A;
	stroke-width: 2*/
}