/*
 * Widgets
 */
.widget-line h4 {
	float: left;
	margin-right: 40px;
}
.widget-line .btn-group {
	float: left;
	margin-right: 40px;
}
.widget-line .nav-tabs > li.active:not(:last-of-type) > a {
	background-color: #F9F9F9;
}
.widget-line .nav-tabs > li:last-of-type > a {
	background-color: transparent !important;
	border-color: transparent transparent #DDD !important;
}
/* .widget-line .tab-pane:not(:last-of-type) */
/* .widget-line .tab-pane:not(:empty) */
.widget-line .tab-pane:not(:nth-of-type(3)) {
	padding: 10px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #DDD;
}

/*
 * Charts
 */
/*.svg * {
	pointer-events: none;
}*/
.svg-charts .svg-group .svg-group-hovered-element {
	visibility: hidden;
}
.svg-charts .svg-group:hover .svg-group-hovered-element {
	visibility: visible;
}


/*
 * Charts D3
 */
.svg-d3 .axis .label {
	font-size: 120%;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.svg-d3 .axis .domain {
	fill: none;
	stroke: #C0C0C0;
	shape-rendering: crispedges;
}
.svg-d3 .axis .tick line {
	fill: none;
	stroke: #C0C0C0;
	shape-rendering: crispedges;
}
.svg-d3 .axis .tick text {
	fill: #606060;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.svg-d3 .brush .extent {
	cursor: ns-resize !important;
	fill-opacity: .2;
	stroke: #606060;
	shape-rendering: crispEdges;
}
/*.svg-d3 .brush .resize rect {
	fill: rgba(0, 0, 0, 0.1);
}*/
.svg-d3 .brush .remove-brush {
	font-size: 16px;
	cursor: pointer;
}
.svg-d3 .brush .resize {
	cursor: row-resize !important;
}
.svg-d3 .svg-background path {
	fill: none;
	stroke: #eee;
	shape-rendering: auto;
}
.svg-d3 .svg-foreground path {
	fill: none;
	shape-rendering: geometricPrecision;
	/*
	stroke: #8DD28A;
	stroke-width: 2*/
}