<section class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">{{tabs[tabIndex].t}}</h1>
	</div>
	
	<!-- Usability -->
	<div ng-if="tabIndex == 0" class="modal-body">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-2">
				<div class="thumbnail">
					<img style="height: 200px; width: 100%; display: block; background-color: #EEEEEE;" alt="TODO: screenshot of hovering element">
				</div>
			</div>
		</div>
		
		<form class="form-horizontal"><fieldset>
			<div class="form-group">
				<div class="col-lg-3 col-lg-offset-2">
					Evaluation
					<span class="help-block">What is your overall evaluation?</span>
				</div>
				<div class="col-lg-3">
					Usability
					<span class="help-block">Is it clear and appropriate?</span>
				</div>
				<div class="col-lg-3">
					Reactivity
					<span class="help-block">Is is responsive and fast enough?</span>
				</div>
			</div>
			<div ng-repeat="uipart in usability" class="form-group">
				<label ng-if="! uipart.isSub" for="ui{{$index}}" class="col-lg-2 control-label" style="font-weight: bold;">{{uipart.l}}</label>
				<label ng-if="uipart.isSub" for="ui{{$index}}" class="col-lg-2 control-label">{{uipart.l}} ↲</label>
				<div class="col-lg-3" ng-class="{ 'text-muted': uipart.isSub }" style="font-size: 1.8em;">
					<uib-rating ng-model="form['usability_' + $index + '_e']" max="5" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
				</div>
				<div class="col-lg-3" ng-class="{ 'text-muted': uipart.isSub }" style="font-size: 1.8em;">
					<uib-rating ng-model="form['usability_' + $index + '_u']" max="5" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
				</div>
				<div class="col-lg-3" ng-class="{ 'text-muted': uipart.isSub }" style="font-size: 1.8em;">
					<uib-rating ng-model="form['usability_' + $index + '_r']" max="5" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
				</div>
				
				<div ng-if="(form['usability_' + $index + '_e'] && form['usability_' + $index + '_e'] < 4) || (form['usability_' + $index + '_u'] && form['usability_' + $index + '_u'] < 4) || (form['usability_' + $index + '_r'] && form['usability_' + $index + '_r'] < 4)" class="col-lg-10 col-lg-offset-2">
					<div style="display: flex;">
						<a class="btn btn-link disabled">Why?</a>
						<div style="flex-grow: 1;">
							<textarea class="form-control" rows="3" id="textArea"></textarea>
							<span class="help-block">what do you think is wrong?</span>
						</div>
					</div>
				</div>
			</div>
		</fieldset></form>
		
	</div>
	
	<!-- Usefulness -->
	<div ng-if="tabIndex == 1" class="modal-body">
	</div>
	
	<!-- Taxonomy -->
	<div ng-if="tabIndex == 2" class="modal-body">
	</div>
	
	<!-- Charts -->
	<div ng-if="tabIndex == 3" class="modal-body">
	</div>
	
	<!-- Comments -->
	<div ng-if="tabIndex == 4" class="modal-body">
	</div>
	
	<div class="modal-footer">
		<button ng-if="couldPreviousTab()" type="button" class="btn btn-link" type="button" ng-click="actionPreviousTab()"><i class="fa fa-hand-o-left" style="padding-right: 8px;"></i>Previous ({{tabs[tabIndex - 1].l}})</button>
		<button type="button" class="btn btn-primary" type="button" ng-click="actionNextTab()">Next<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>