<section class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">{{tabs[tabIndex].t}}</h1>
	</div>
	
	<!-- Approach -->
	<div ng-if="tabIndex == 0" class="modal-body">
		<p>
			In this experiment, you will be presented with data on the performance of some
			parallel programs. This performance data is obtained from hardware counters and
			visualised in a number of different ways. There are lots of different types of
			performance problems in parallel programs, and so these visualisations are based
			around a previously developed taxonomy of parallel performance problems. Take a
			look through the taxonomy and sub-problems below to familiarise yourself before
			beginning the experiment.
		</p>
		<p>&nbsp;</p>
		<h2>Problem-focused Taxonomy</h2>
		<div class="row">
			<div class="col-sm-3">
				<ul class="nav nav-pills nav-stacked nav-subtab">
					<li ng-repeat="tax in taxonomy" ng-class="{active: isSubTabActive('taxonomy')}">
						<a href ng-click="selectSubTabActive('taxonomy')">{{::tax.t}}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9">
				<div class="well tab-content well-subtab">
					<div ng-repeat="tax in taxonomy" class="tab-pane" ng-class="{active: isSubTabActive('taxonomy', $index)}">
						<p ng-repeat="desc in tax.d">
							{{::desc}}
						</p>
						<h4>Related problems:</h4>
						<ul>
							<li ng-repeat="issue in tax.issues"><strong>{{::issue.t}}:</strong> {{::issue.d}}</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
	</div>
	
	<!-- Tool -->
	<div ng-if="tabIndex == 1" class="modal-body">
		<p>
			The tool can be used to visualize data from a single program, or to
			compare data from two different versions of a program. We refer to a data set 
			for a particular program version as a profile.
		</p>
		<!-- <center><img src="assets/xp-1/dash-overview.png"/></center> -->
		<p>&nbsp;</p>
		<h2>Dashboard: overview</h2>
		<div class="col-xs-5" style="float: right;"><a class="thumbnail" href="assets/xp-1/dash-checked.png" target="_blank">
			<img src="assets/xp-1/dash-checked.png" alt="">
		</a></div>
		<p>
			The top-level of the tool provides a Dashboard where you can compare
			profiles and have an overview of all categories (the first level in our
			taxonomy). The aim is to quickly identify one or more categories in which the
			problem may lie.
		</p><p>
			Once a category is identified, you can drill-down to investigate the
			potential cause of the issue.
		</p>
		<p>&nbsp;</p>
		<h2>Category: drill-down into problems</h2>
		<div class="col-xs-5" style="float: right;"><a class="thumbnail" href="assets/xp-1/detail-sample.png" target="_blank">
			<img src="assets/xp-1/detail-sample.png" alt="">
		</a></div>
		<p>
			For each category of our taxonomy, a dedicated page displays a set
			of graphs that can help you to find the root of the problem.
		</p><p>
			You can customise many of the graphs via the "Customise" tab in
			order to change the way the data is shown.
		</p><p>
			More information is available in the "help" tab if you are having
			trouble interpreting any particular visualization.
		</p>
	</div>
	
	<div class="modal-footer">
		<button ng-if="couldPreviousTab()" type="button" class="btn btn-link" type="button" ng-click="actionPreviousTab()"><i class="fa fa-hand-o-left" style="padding-right: 8px;"></i>Previous ({{tabs[tabIndex - 1].t}})</button>
		<button type="button" class="btn btn-primary" type="button" ng-click="actionNextTab()">Next<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>

<footer id="footer" class="footer">
	<div class="container">
		<p class="text-muted">&copy; Trinity College Dublin</p>
	</div>
</footer>