<section class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title">{{tabs[tabIndex].t}}</h1>
	</div>
	
	<!-- Experimentation -->
	<div ng-if="tabIndex == 0" class="modal-body">
		<p>
			<i class="fa fa-hand-spock-o fa-3x fa-pull-left text-muted" aria-hidden="true"></i>
			In this experimentation, you will test our approach and tool about the <span class="text-primary">problem-centric software performance analysis</span>
			on many-core (multicore) systems.
		</p>
		<p>&nbsp;</p>
		<h2>Parallel performance</h2>
		<div class="col-xs-5" style="float: right;"><a class="thumbnail" href="assets/xp-1/theory-programing.jpeg" target="_blank">
			<img src="assets/xp-1/theory-programing.jpeg" alt="">
		</a></div>
		<p>
			In software engineering, there is several way to get clues about the efficiency and accuracy of a particular software.
			Here, we're focusing on the performances by analysing several indicators and measurments of a run of an application.
			Differents runs could produce differents values mostly because there are context-depending. But the analysis should be quite similar.
		</p>
		<p>
			<strong>[XP.parrallel.2]</strong> Very simple explanation (for beginers).
		</p>
		<p>
			<strong>[XP.parrallel.3]</strong> More complete explanations (for intermediate).
		</p>
		<p>
			<strong>[XP.parrallel.4]</strong> Deep explanations (for experts).
		</p>
	</div>
	
	<!-- Approach -->
	<div ng-if="tabIndex == 1" class="modal-body">
		<p>
			Our approach is problem-focused instead of hardware-focued.
			Based on surveys, we create a taxonomy for this kind of problems (see below).
			It is composed by 6 categories grouping about 4 problems.
		</p>
		<p>&nbsp;</p>
		<h2>Problem-focused Taxonomy</h2>
		<div class="row">
			<div class="col-sm-3">
				<ul class="nav nav-pills nav-stacked nav-subtab">
					<li ng-repeat="tax in taxonomy" ng-class="{active: isSubTabActive('taxonomy')}">
						<a href ng-click="selectSubTabActive('taxonomy')">{{::tax.t}}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9">
				<div class="well tab-content well-subtab">
					<div ng-repeat="tax in taxonomy" class="tab-pane" ng-class="{active: isSubTabActive('taxonomy', $index)}">
						<p ng-repeat="desc in tax.d">
							{{::desc}}
						</p>
						<h4>Related problems:</h4>
						<ul>
							<li ng-repeat="issue in tax.issues"><strong>{{::issue.t}}:</strong> {{::issue.d}}</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
	</div>
	
	<!-- Tool -->
	<div ng-if="tabIndex == 2" class="modal-body">
		<p>
			<strong>[XP.tool.1]</strong> Based on our taxonomy, we build a tool to visualise the profile of a program run; it also allows to compare two profiles.
		</p>
		<!-- <center><img src="assets/xp-1/dash-overview.png"/></center> -->
		<p>&nbsp;</p>
		<h2>Dashboard: overview</h2>
		<div class="col-xs-5" style="float: right;"><a class="thumbnail" href="assets/xp-1/dash-checked.png" target="_blank">
			<img src="assets/xp-1/dash-checked.png" alt="">
		</a></div>
		<p>
			<strong>[XP.tool.3]</strong> The top-level of our webapp is the Dashboard where you could compare the profiles and, more important, have a overview of all categories (first level in our taxonomy).
			The aim is to quickly identify one or more categories involved in the issue(s).  
		</p><p>
			<strong>[XP.tool.4]</strong> Once catogories are identified, you could drill-down to find the real cause of the issue.
		</p>
		<p>&nbsp;</p>
		<h2>Category: drill-down into problems</h2>
		<div class="col-xs-5" style="float: right;"><a class="thumbnail" href="assets/xp-1/detail-sample.png" target="_blank">
			<img src="assets/xp-1/detail-sample.png" alt="">
		</a></div>
		<p>
			<strong>[XP.tool.5]</strong> For each category of our taxonomy, a dedicated page displays a set of graph that could help you to find the root of the problem.
		</p><p>
			<strong>[XP.tool.6]</strong> To help you, you can customise each graph via the "Customise" tab in order to adapt and manipulate the data shown.
		</p><p>
			<strong>[XP.tool.7]</strong> Also you coul find some interesting information in the "help" tab in particular if you are not familiar with the concept shown. 
		</p>
	</div>
	
	<div class="modal-footer">
		<button ng-if="couldPreviousTab()" type="button" class="btn btn-link" type="button" ng-click="actionPreviousTab()"><i class="fa fa-hand-o-left" style="padding-right: 8px;"></i>Previous ({{tabs[tabIndex - 1].l}})</button>
		<button type="button" class="btn btn-primary" type="button" ng-click="actionNextTab()">Next<i class="fa fa-hand-o-right" style="padding-left: 8px;"></i></button>
	</div>
</section>