<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">ManyCore Experiment</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<!-- collapsible content -->
		<p ng-if="isXPset()" class="navbar-text">{{thread.title}}</p>
		<ul ng-if="isXPset()" class="nav navbar-nav">
			<li ng-repeat="step in getSteps()" ng-class="{active: isStepActive(), disabled: isStepDisabled()}" uib-tooltip="{{step.label}}" tooltip-placement="bottom"><a>{{$index + 1}}</a></li>
		</ul>
		<ul class="nav navbar-nav">
			<li ng-if="hasNext()" uib-tooltip="You've done everything you wanted" tooltip-placement="bottom"><a ng-click="actionNext()">Next step <i class="fa fa-hand-o-right" style="padding-left: 4px;"></i></a></li>
		</ul>
		
		<!-- collapsible right content -->
		<p ng-if="isXPset()" class="navbar-text navbar-right" style="padding-right: 15px;">{{thread.id}}<span style="padding: 0 2px;">/</span>{{xp.user}}</p>
		<ul ng-if="hasNetworkError()" class="nav navbar-nav navbar-right">
			<li uib-dropdown>
				<a href id="network-errors-dropdown" style="font-weight: bold;" uib-dropdown-toggle><i class="fa fa-exclamation-triangle" style="padding-right: 10px"></i>Network errors</a>
				<ul uib-dropdown-menu aria-labelledby="network-errors-dropdown">
					<li><a><b>advice:</b> stop the experiment and inform Bérenger Arnaud (arnaudb@tcd.ie)</a></li>
					<li role="separator" class="divider"></li>
					<li ng-repeat="error in errors"><a href><b>{{::error.status}}:</b> {{::error.statusText}}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>